## Functions in Python

Functions are the centre stage of any programming language. If you have any reusable code, then you don’t have to type it or copy paste it again and again. You can just create a function the first time, and then use it as many types as you want. This is the very core of __Functional Programming__. 

__Functions__ are a block of reusable code that can be accessed by the programmer. They provide better modularity for programs. __Modularity__ means dividing a program into various sub-programs that work in coherence with each other. 

These sub-programs are various functions in functional programming, that are used in sync with each other to execute the whole code. It implements the whole idea of Functional Programming.

### Types of Functions

There are various kinds of functions in python. Usually, there is a criterion that separates these functions. There are 2 bases for differentiation:
<ol>
 <li><b>Value of the Function</b>: There are some functions that return a value, and hence, can be stored in a variable, whereas there are functions that do not return a value, and hence, cannot be stored in a variable. We have 2 major types of functions here:</li><br>
      <ul>
      <li><u><i>Void Functions</i></u>: These functions are the functions that __do not return__ any value. The code of these functions usually prints the output directly to the console. The functions like `print()` are void functions.</li>
      <li><u><i>Return Functions</i></u>: These functions are the functions that __return a particular value__. They won’t send the output directly to the console. You have to either store them in a variable, or send them to the output using the print function. The `len()`, `input()` functions are examples of these functions.</li>
     </ul><br>
     
   <li><b>Scope of the Function</b>: There are functions that can be accessed in only particular block of the code in the program. Some of them can be accessed anywhere in the code, whereas some functions can be accessed in multiple programs. We have 2 major types of functions in this criterion:</li>
    <ul><br>
    <li><u><i>In-Built Functions</i></u>: These functions are the ones that __can be accessed in multiple programs__. They are __already built by the python__ libraries, and they need not be defined by the programmer. Some examples of these functions are the len(), type() and print() functions.</li>
    <li><u><i>User Defined Functions</i></u>: These functions are the functions __that can be accessed in just simple programs__. Their access is local to the program they are a part of. These functions are __created by the programmer__ while writing a python script. They cannot be accessed by python or the programmer in any other program other than the one where it is defined.</li></ul>
</ol>

### Defining a Function

We will learn writing __User-Defined functions__ here. For that, we use the `def` keyword, and follow the following 

___Syntax___:

<img src="https://www.learnbyexample.org/wp-content/uploads/python/Python-Function-Syntax.png" height=auto width=60%>

The arguments are also called the __parameters__ of the function. They are the variables present in the function’s block code that are used as references to operate the function. Functions <font color="red">can have no parameters</font> as well. 

If we are defining a __return function__, then we need to make sure that our function returns an object. What this means is that the function will act as a container for the object. Then, the function specified by the parameters is either sent to output by the `print()` statement or by storing them in a variable for later use. 

For returning a value to a function, we use the `return`keyword. It can contain an integer, float, string or a Boolean. We can also return data structures – list, tuple, set, and dictionary. The syntax for the return statement is :

`return object;`

Please note that <font color="red">we cannot define functions by the same names as the in-built functions</font> like print(), input(), sorted()  etc. We need to give them a unique name. We follow the same rules for naming the functions that we do for naming the variables.

We __use the function by calling it__ out (writing its name, and specifying its parameters). There are two ways to call a function: 

1. Call by Reference (assigning to a variable; for return functions)
2. Call by Value (directly writing the name; for void functions)

Let us see some examples now.

In [70]:
def fact(n):
    f=1;
    for i in range(1,n+1):
        f*=i;
    return f;

five=fact(13) #Calling by reference
five

6227020800

In [71]:
def str_to_list(string,de):
    
    list1=string.split(de);
    print(list1)

str_to_list('Welcome_to_Python','_') # Calling by Value

['Welcome', 'to', 'Python']

### Nesting Functions

Now, let us see if we can define a function within another function. The following example returns a factorial list of an input list.

In [20]:
def fact_list(num):
    
    list1=[];
    f_list=[];
    i=0;
    def facto(n):
        f=1;
        for i in range(1,n+1):
            f*=i;
        return f;
    
    while i<num:
        ele=input('Enter the element {}:'.format(i+1))
        list1+=[int(ele)];
        f_list+=[facto(list1[i])]
        i+=1
    return f_list

num=int(input('Enter no of elements: '));
fac=fact_list(num)
print('The factorial of the list is:',fac);

Enter no of elements:  4
Enter the element 1: 12
Enter the element 2: 13
Enter the element 3: 5
Enter the element 4: 16

The factorial of the list is: [479001600, 6227020800, 120, 20922789888000]

Here, you can see that we used the `while` loop for the program to modify the lists. This is because we are using a user-defined parameter here, and hence, we do not know the number of iterations here.

### Passing Arguments of a Function

There are multiple ways to pass the arguments to a function. Whenever we have some parameters, the function won't move forward unless the parameter is specified. Let us look at the previous example of the `fact()` function.

In [26]:
def fact(n):
    f=1;
    for i in range(1,n+1):
        f*=i;
    return f;
fact()

TypeError: fact() missing 1 required positional argument: 'n'

Hence, since the fact() is missing the `n` parameter, we need to enter a value there for the function to move forward. This is a __required parameter__.

However, we can declare some default values to it. Let us see the following example.

In [31]:
def fact(n=0):
    f=1;
    for i in range(1,n+1):
        f*=i;
    return f;

Here, we have declared `n` in the function itself. So, whenever the parameter is empty, it will take `n=0`. However, if we specify a parameter, then it will overwrite the value.

In [35]:
fact(),fact(6)

(1, 720)

Hence, this is a way to __pass default arguments__ to your functions. Let us see another example.

In [37]:
def details(name,age=22):
    print(name);
    print(age);

In [38]:
details('Yash')

Yash
22

In [39]:
details('Yash',20)

Yash
20

Another way to pass arguments to your functions is by __keyword arguments__ method. Here, if you know the name of the parameter, then you use the assignment operator inside the paranthesis when calling out the function. Let us see an example.

In [47]:
details('Yash',age=24)

Yash
24

You <font color="red">cannot use this method</font> on the arguments that __do not have a default__ value. It will throw an error. The following example shows this:

In [48]:
details(name='Yash',24)

SyntaxError: positional argument follows keyword argument (254017206.py, line 1)

Hence, either you need to specify the keyword for only the default parameters, or for all of them.

Another way to pass arguments to a function is by using __variable length argument__. Using this method, you can __pass multiple values to the same parameter__. It is defined by using an `asterisk (*)` before the parameter name. Let us see an example:

In [72]:
def details(name,age,*city):
    print(name);
    print(age);
    print(city);

In [73]:
details('Yash',22,'del','hyd','mum')

Yash
22
('del', 'hyd', 'mum')

Here, you can see that the parameter accepts multiple arguments and returns a tuple of them all.

In [74]:
def details(name,*age,city):
    print(name);
    print(age);
    print(city);

__Special: Call of a Call of a function__

In [69]:
def func(x, y = 1):
    z = x * y + x + y
    return z

func(2, func(3))

23

### Lambda Function

We have previously seen how to use comprehensions for data structures to write shorter codes. Similar thing can be applied to functions as well. 

We can define a function in a single line, using the `lambda` operator. The corresponding function is called the __Lambda Function__. It creates a <font color="#000080">function object</font>, that can be called to use it. Since it is defined anonymously (without using the `def` keyword), it is also called __<font color=#000080>Anonymous Function</font>__.

It has the following syntax – `function_name  = lambda input_parameters :  output_parameters`

Some examples of the lambda function are given below:

In [102]:
greater=lambda x,y: x if x>y else y;
print(greater(3,2))

3

In [94]:
odd_even=lambda x: 'even' if x%2==0 else 'odd';
odd_even(7)

'odd'

Please note that we cannot use the looping statements inside the lambda function. It <font color="red">does not support</font> loops. The following examples will depict this -

In [100]:
i=1;
fact=lambda n: n*i for i in range(n);

SyntaxError: invalid syntax (1550742431.py, line 2)

It is showing syntax error because for loops cannot be used inside a lambda function directly.

#### Lambda Utility Functions

There are some utility functions related to the `lambda` operator that allow us to use it in coherence with the data structures (lists, tuples, dictionaries,sets). There are 3 main functions -

##### The `map()` function

This function is used to map a lambda function object to the elements of an interable object. In simple words, you can use the lambda function in each element of an iterable object using the `map()` function.

_Syntax:_                    `map(lambda_function,iterable_object);`

This function returns a map object, that can be converted into the corresponding data structure using the typecasting functions `list()`, `tuple()`, `set()` and `dict()`.

The following examples illustrate this.

In [2]:
country=['India','Japan','Italy','France'];
up=[];
for i in country:
    up+=[i.upper()]
up

['INDIA', 'JAPAN', 'ITALY', 'FRANCE']

The operation performed above can be executed in just one line using the `map()` function and the `lambda` operator. Let us use it now.

In [106]:
list(map(lambda x: x.upper(),country))

['INDIA', 'JAPAN', 'ITALY', 'FRANCE']

See? The task is performed in a single line. This is the efficiency and memory that is saved by the lambda operator using these utility functions.

__Using a User Defined Function as parameter__

We can even use a user-defined function as parameter in such cases. Let us see this with an example.

In [126]:
def square(n):
    return n**2;

list1=[1,2,3,4,5];

list(map(square,list1))

[1, 4, 9, 16, 25]

See? The functionality of these functions are beyond the lambda operator.

##### The `filter()` function

This function is used to __filter the elements of the iterable object based on conditions__. Keep in mind that the __lambda function__ passed to this function should __always return a boolean value__. 

Syntax: `filter(lambda_function,iterable_object);`

The lambda function here can also be thought of as the filtering condition. This function also needs to be converted to the corresponding data structures using the typecasting functions. Let us see an example -

In [108]:
country

['India', 'Japan', 'Italy', 'France']

Let's say we need to find out all the countries in the list that start with I or not. We use the following logic for that -

In [111]:
bool_country=[];
for i in country:
    if i[0]=='I' or i[0]=='i':
        bool_country+=[i];

bool_country

['India', 'Italy']

Let us use the `lambda` function for this operation, along with the `filter()` function.

In [149]:
bool_country=list(filter(lambda x: x[0]=='I' or x[0]=='i',country))
bool_country

['India', 'Italy']

See? The data structure is filtered according to our condition.

Let us filter the dictionary and find all the students who are older than 18 years old. The following code helps us -

In [136]:
stu={1:['Sam',15],2:['Elon',20],3:['Gravit',13],4:['Yash',22],5:['Ratan',19]};

In [148]:
age=list(filter(lambda x: x[1]>18,stu.values()))
age

[['Elon', 20], ['Yash', 22], ['Ratan', 19]]

##### The `reduce()` function

This function is used to __reduce the iterable object into a single dimensional functionality__. It takes the function object and the data structure as parameters. An important condition here is that the <font color=red>function object should have only 2 parameters</font> - not more, not less.

It is a part of the `functools` module of the python library. It can be imported using the `import` operation, if it is not already loaded.

Syntax - `reduce(lambda_function,iterable_object);`

Let us see an example now.

In [116]:
country

['India', 'Japan', 'Italy', 'France']

Let us say that we need to display all the elements of the list besides each other as a string. For that, we use the following logic -

In [4]:
str1='';
for i in country:
    str1+=i+" ";
str1.rstrip(' ')

'India Japan Italy France'

Although this code is substantially small, we can use the `lambda` function here, along with the `reduce()` function to perform this. Let us see it in action:

In [3]:
from functools import reduce
red=reduce(lambda x,y: x+" "+y,country)
red

'India Japan Italy France'

This way, the `reduce()` function reduced the dimensionality of the iterable object from a list to a string. This is how it is utilized. Let us now find the factorial of numbers.

In [11]:
from functools import reduce
def fact(n):
    if n<0:
        print('Error ! Out of scope');
        
    elif n==0:
        return 1;
    
    else:
        fact=reduce(lambda x,y: x*y,list(range(1,n+1)))
        return fact;

In [14]:
fact(8)

40320

Hence, we can use `lambda` function and the `reduce()` function here to create a factorial. It became such a simple command where previously we need to create two functions, two lists and store them. Here, just one line of code accomplished this !