## Data Structures in Python

Basically, these structures can hold the data together. A __Data Structure__ is a particular way of organizing data in a computer so that it can be used effectively. The four built-in data structures in Python are:
- Tuples 
- Lists 
- Dictionaries 
- Sets

### Tuples

Tuples are __compound data types__ that store _mixed data type values_ in an ordered manner. These are __immutable__, and are defined using the normal brackets `( )`. The syntax for tuples goes like this – 

<code>Identifier = (value<sub>1</sub>, value<sub>2</sub>, …… value<sub>n</sub>); </code>

It can hold multiple data types within itself. You can store all integer, all float, all Boolean or all string values, as well as any combination of these 4. Here is a simple example for illustration:

In [3]:
x1 = (1,2,3,4,5);
x2 = (1.1,2.2,3.3,4.4,5.5);
x3 = (True,False);
x4 = ('Hi','This','is','python');
x5= (1,'Hi',True,4.4);

In [5]:
print(x1,type(x1))
print(x2,type(x2))
print(x3,type(x3))
print(x4,type(x4))
print(x5,type(x5))

(1, 2, 3, 4, 5) <class 'tuple'>
(1.1, 2.2, 3.3, 4.4, 5.5) <class 'tuple'>
(True, False) <class 'tuple'>
('Hi', 'This', 'is', 'python') <class 'tuple'>
(1, 'Hi', True, 4.4) <class 'tuple'>

#### How to define Tuples

There are a number of ways to define tuples in python. They can be defined _without parenthesis_ or even as a _single tuple_.

__Defining tuples without parenthesis__

In [2]:
x5=1,2,3,4,5;
x6=2,'Yash',True,4.5;

print(x5,type(x5))
print(x6,type(x6))

(1, 2, 3, 4, 5) <class 'tuple'>
(2, 'Yash', True, 4.5) <class 'tuple'>

__Defining singular tuples__

You have to use a comma after writing the value in the tuple to tell python that the identifier will be a tuple, and not any other type. Some examples are given below:

In [3]:
y1=1,
y2='Yash',
y3=True,
y4=4.5,

print(y1,type(y1))
print(y2,type(y2))
print(y3,type(y3))
print(y4,type(y4))

(1,) <class 'tuple'>
('Yash',) <class 'tuple'>
(True,) <class 'tuple'>
(4.5,) <class 'tuple'>

If you do not use commas after them, then python will assign data types to them according to the values present there. An illustration is given here:

In [4]:
y5=1
y6='Yash'
y7=True
y8=4.5

print(y5,type(y5))
print(y6,type(y6))
print(y7,type(y7))
print(y8,type(y8))

1 <class 'int'>
Yash <class 'str'>
True <class 'bool'>
4.5 <class 'float'>

#### How to access data inside a Tuple

Since tuples are a sequence of ordered data, we can use basic indexing and slicing (both forward and reverse), to extract elements inside it.

##### Indexing in Tuples

Let us look at the following example:

In [8]:
x=1,2,'Yash',3.5,True,'Python',4,'Program',False

print('Forward Indexing: ',x[0],x[1],x[2])
print('Reverse Indexing: ',x[-3],x[-2],x[-1])

Forward Indexing:  1 2 Yash
Reverse Indexing:  4 Program False

We can also access the characters inside the string element(s) using __multiple indexing__. This can be used in the following way:

In [10]:
print('Forward Indexing: ',x[2][2], x[5][3], x[7][3])
print('Reverse Indexing (a): ',x[-2][3], x[-4][2], x[-4][1])
print('Reverse Indexing (b): ',x[-2][-3], x[-4][-2], x[-7][-2])

Forward Indexing:  s h g
Reverse Indexing (a):  g t y
Reverse Indexing (b):  r o s

Using single indexing, we were able to navigate through the tuple elements, but in multiple indexing, we were able to navigate through strings inside a tuple. Please note that this method will not work with any other data type than string.

##### Slicing in Tuples

Slicing can also be implemented in the very same manner as indexing. We can use forward indexing, or reverse indexing to apply slicing. Remember that contrary to strings, slicing in tuples will return elements of the string as a single tuple. 

An example to illustrate this:

In [12]:
x

(1, 2, 'Yash', 3.5, True, 'Python', 4, 'Program', False)

In [49]:
x[3:], x[:6], x[1::2], x[:6:3]

((3.5, True, 'Python', 4, 'Program', False),
 (1, 2, 'Yash', 3.5, True, 'Python'),
 (2, 3.5, 'Python', 'Program'),
 (1, 3.5))

In [18]:
x[-4:], x[:-3],x[-6:-3]

(('Python', 4, 'Program', False),
 (1, 2, 'Yash', 3.5, True, 'Python'),
 (3.5, True, 'Python'))

We can also use __multiple slicing__ for string elements. It is to be used in the same way indexing was used, using two square brackets. It has to be used as a combination of indexing and slicing, though.

An example is given below:

In [48]:
x[5::2][1][:3], x[2][-2:]

('Pro', 'sh')

#### Operations on Tuples

We can apply multiple operations to tuples, similar to other data types. Let us look at them.

##### Addition (Concatenation)

In [59]:
x=1,2,'Yash',3.5,True,'Python',4,'Program',False
y=1,3,4,True,'Yash',False;

z=x+y
z

(1,
 2,
 'Yash',
 3.5,
 True,
 'Python',
 4,
 'Program',
 False,
 1,
 3,
 4,
 True,
 'Yash',
 False)

##### Subtraction

In [117]:
j=1,2,3,4,5;
k=2,3,4,5,6;

j-k

TypeError: unsupported operand type(s) for -: 'tuple' and 'tuple'

In [60]:
z-x

TypeError: unsupported operand type(s) for -: 'tuple' and 'tuple'

Hence, subtraction is <font color="red"> not supported </font>. Same is the case with division, exponential, modulus, floor division.

##### Multiplication

In the case of multiplication, it will be multiplied with only an integer, and treated as a repeating operator. The tuple will be repeated that many times.

In [67]:
len(x),len(x*3)

(9, 27)

#### Nested Tuples

You can add a tuple as an element inside another tuple. For the inner tuple, you have to use the brackets () to tell python that this element will be a tuple.

An illustration is given below:

In [69]:
y=1,2,3,('Yash','Jain',True,3.4,4,5.6,False),True,3.4,'hello'
y

(1, 2, 3, ('Yash', 'Jain', True, 3.4, 4, 5.6, False), True, 3.4, 'hello')

In [70]:
y[3]

('Yash', 'Jain', True, 3.4, 4, 5.6, False)

In [72]:
type(y), type(y[3])

(tuple, tuple)

You can use indexing and slicing here as well. It will be the same syntax, with more brackets to access any specific element inside the tuple(s).

In [91]:
y[3][:2][0][1:],y[3][:2][1][1:]

('ash', 'ain')

#### Functions on Tuples

You can use various functions with tuples. These can be arithmetic functions like `sum()`, `max()` and `min()`, or these can be sorting function `sorted()`.

An illustration of this is given below:

In [97]:
x=1,2,3;
y=2,3,4;
z='Python',2,3,4,5,'Programming';

In [99]:
sum(x),sum(y)

(6, 9)

The z tuple elements cannot be added, since they do not have elements of the same data type. Let us see what do we have if a tuple has all string elements.

In [104]:
z1='Welcome','to','Python','Programming';
sum(z1)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

We can clearly see here, that sum() will only work on tuples having non-string data types. Let us see another example.

In [108]:
z2=1,3,5.6,2,4,True,5,6.7
sum(z2)

28.3

As expected, the boolean values have been treated as their integer counterparts 0 (False) and 1 True). Now, let us see the <code>sorted()</code> function. This function creates a list instead of a tuple.

In [24]:
z1='Welcome','to','Python','Programming'
z2=1,3,5.6,2,4,True,5,6.7
print(sorted(z2),sorted(z1),type(sorted(z2)))

[1, True, 2, 3, 4, 5, 5.6, 6.7] ['Programming', 'Python', 'Welcome', 'to'] <class 'list'>

Hence, to get a sorted tuple, we use the `tuple()` function to typecast this. It is used in the following way:

In [25]:
print(tuple(sorted(z2)),type(tuple(sorted(z2))))

(1, True, 2, 3, 4, 5, 5.6, 6.7) <class 'tuple'>

In [130]:
z='Python',2,3,4,5,'Programming';
sorted(z)

TypeError: '<' not supported between instances of 'int' and 'str'

So, even in this function, we need the data types of the elements to be the same. It is essential to notice such small things in Python.

Now, let us see the <code> min() </code> and the <code> max() </code> functions.

In [121]:
num=3,9,5,7,8,3,4,True,0,False;

max(num),min(num)

(9, 0)

In [126]:
max(z),min(z)

TypeError: '>' not supported between instances of 'int' and 'str'

Hence, these functions do not support the string type at all. They only support the integer and float types, whereas the booleans True and False are taken as 1 and 0 respectively.

#### Immutability of Tuples

Tuples __cannot be modified once created__. We can clearly see from the following example, what happens when we try to change a tuple:

In [4]:
x=1,2,3,4,5;
x[3]=6

TypeError: 'tuple' object does not support item assignment

Hence, it is clearly visible that tuple elements cannot be modified. How to modify a tuple, then ? 

There can be 2 ways to do it -
- Use slicing to create a new tuple and overwrite it with the original one.
- Create a whole new tuple with the modified value.

__Using Slicing__

In [18]:
x=1,2,3,4,5,6,7
t=x[:3]+(8,)+x[5:]
x=t
t=()
x,t

((1, 2, 3, 8, 6, 7), ())

Here, we first sliced the tuple, and then replaced the value of the element and combined them into t. Then, we copied all the values of t into the original tuple x, and declared t as an empty tuple.

__Creating a new variable__

This method is actually depicted above, just the difference is that we do not use the last two statements where we copy all the values of t into x and then empty the tuple t.

In [21]:
temp=x[:3]+(12,)+x[5:]
temp,x

((1, 2, 3, 12, 7), (1, 2, 3, 8, 6, 7))

#### Packing and Unpacking of Tuples

__Packing__ is done, when we create a tuple. It is when we pack several values into one single tuple. It is what initiates making a tuple. 

__Unpacking__ is the absolute opposite of it. It means to split / unpack the tuple into its elements. Let us see some examples of unpacking.

In [29]:
tup=1,2,3,4,5,6,7; # this is packing
tup,type(tup),len(tup)

((1, 2, 3, 4, 5, 6, 7), tuple, 7)

We have packed 7 elements into a tuple. Let us now unpack the tuple. It is done in the following way:

In [36]:
(x1,x2,x3,x4,x5,x6,x7)=tup;
print(x1,x2,x3,x4,x5,x6,x7)
print(type(x1),type(x2),type(x3))

1 2 3 4 5 6 7
<class 'int'> <class 'int'> <class 'int'>

If we provide more or less elements inside the brackets, it will show __<font color="red"> error ! </font>__. This is because it is used to unpack each element, not split the tuple into multiple tuples.

The following examples will provide a better clarity:

In [32]:
(x,y,z)=tup

ValueError: too many values to unpack (expected 3)

In [33]:
(x1,x2,x3,x4,x5,x6,x7,x8,x9)=tup

ValueError: not enough values to unpack (expected 9, got 7)

This was the reason of using the `len()` function in the first statement to know how many elements are there to be extracted. It is an essential part of using the function.

### Lists

Lists are also data structures, just like tuples. They are _ordered sequence of mixed data types_, that are __mutable__, i.e. they can be modified after creation, unlike tuples. 

They are written enclosed in square brackets `[ ]`, and the elements inside a list can be entered using comma-separated values within these square brackets.

Let us see some common examples.

In [76]:
list1=[1,2,3,4,5]
list2=['str1','str2','str3','str4'];
list3=[True,False,True];
list4=[3.3,55.6,1.2,81.3];

print(list1,type(list1))
print(list2,type(list2))
print(list3,type(list3))
print(list4,type(list4))

[1, 2, 3, 4, 5] <class 'list'>
['str1', 'str2', 'str3', 'str4'] <class 'list'>
[True, False, True] <class 'list'>
[3.3, 55.6, 1.2, 81.3] <class 'list'>

Lists can also have mixed data types, just like tuples. Here are some examples:

In [77]:
list1=['ABCDEFG',1,True,3.4]
list2=[1,2,'Python',3,3.5,6.3,True, 'Programming']

list1,list2

(['ABCDEFG', 1, True, 3.4], [1, 2, 'Python', 3, 3.5, 6.3, True, 'Programming'])

#### Indexing in Lists

Indexing in lists are done in the same way as they are done in tuples. There is no difference; you can use negative and positive indexing.

See the following examples:

In [78]:
list1=[1,2,'Python',True,4,6.5,7,'Programming','Good',3.4];

In [83]:
list1[3],list1[5],list1[-3],list1[-5]

(True, 6.5, 'Programming', 6.5)

You can once again use __multiple indexing__ for the string elements here. Let us see with an example below:

In [86]:
list1[2][4],list1[7][6],list1[-2][-3]

('o', 'm', 'o')

#### Slicing in Lists

Slicing in Lists is done in the same way as tuples. The following examples will depict it:

In [87]:
list1[:6],list1[4:],list1[3:8:2]

([1, 2, 'Python', True, 4, 6.5],
 [4, 6.5, 7, 'Programming', 'Good', 3.4],
 [True, 6.5, 'Programming'])

You can also use slicing and indexing together, to extract text from string elements. It is done in the following way:

In [89]:
list1[7][3:8],list1[-8][:-1]

('gramm', 'Pytho')

#### Nesting Lists and Tuples

Lists and tuples can be nested within one another. The indexing and slicing will follow the same rules as when tuples were nested inside tuples. Let us look at some examples:

__Nesting tuples inside Lists__

In [98]:
list1=['Python','Programming',True,(True, 4.5, 1,False, 'Program'),2.4,False];
list1[3] , type(list1[3])

((True, 4.5, 1, False, 'Program'), tuple)

In [104]:
list1[3][-1][-4:-1]

'gra'

__Nesting lists inside Lists__

In [106]:
list1=['Python','Programming',True,[True, 4.5, 1,False, 'Program'],2.4,False];
list1[3],type(list1[3])

([True, 4.5, 1, False, 'Program'], list)

In [110]:
list1[3][-1][:5]

'Progr'

#### Memberships in Lists

The membership operators `IN` and `NOT IN` are also used with lists to navigate through them. They can be used in the same way as strings, only here, the whole element will be matched, instead of characters.

The following example illustrates this:

In [111]:
list1

['Python', 'Programming', True, [True, 4.5, 1, False, 'Program'], 2.4, False]

In [130]:
print('Py' in list1)
print('Py' in list1[0])
print(False in list1[3])
print(True in list1[3][1:])

False
True
True
True

Note that the last value is coming true even though the boolean `TRUE` is not present. This is because the value 1 is present, which is its numeric form. These small things need to be considered.

In [140]:
print('Prog' not in list1[1])
print(False not in list1)

False
False

#### Operations on Lists

Let us see if the basic arithmetic operations are possible with lists or not. See the following examples:

##### Addition

In [143]:
list1=[1,2,3,4,5];
list2=[2,3,4,5,6];

list_new=list1+list2
list_new

[1, 2, 3, 4, 5, 2, 3, 4, 5, 6]

So, basic addition with other lists is possible. Can they perform the same operation with, say tuples ? or integers and floats and booleans ? Let's see.

In [144]:
tuple1=1,2,3,4,5;

struct_new=list1+tuple1

TypeError: can only concatenate list (not "tuple") to list

Hence, we cannot add anything other than a list to a list.

##### Subtraction

In [145]:
list1,list2

([1, 2, 3, 4, 5], [2, 3, 4, 5, 6])

In [146]:
list2-list1

TypeError: unsupported operand type(s) for -: 'list' and 'list'

Hence, we cannot subtract two lists. Similarily, division, exponential, floor division, and modulus operations are not compatible with lists as well.

##### Multiplication

Again, just like tuples, lists can only be multiplied by integers, in which case, it will act as a repetition operator. Let us see an example:

In [150]:
list1,list1*3

([1, 2, 3, 4, 5], [1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5])

In [151]:
list1*list2

TypeError: can't multiply sequence by non-int of type 'list'

Hence proved ! Only the integer types can be multiplied by lists.

#### Modification of Lists

As discussed before, the key difference between a __<font color="#000080">list</font>__ and a __<font color="#000080">tuple</font>__ is that __lists are mutable__, and hence, provide a greater flexibility to us.

Let us see all the ways in which we can modify lists.

##### 1. Replacing an element

You can replace an element inside a list using a very simple assignment expression. Just use indexing to point to the element, and assign the new value to it. Here is an example:

In [163]:
list1=['Physics','Chemistry','Mathematics','Biology']
list1

['Physics', 'Chemistry', 'Mathematics', 'Biology']

In [164]:
list1[-1]='Computer Science'
list1

['Physics', 'Chemistry', 'Mathematics', 'Computer Science']

Hence, the element in the list is changed. It became very simple. Now a simple question :

__If a tuple is an element of a list, and you want to modify the element of the tuple, will you be able to do it?__

Let us look at an example for this.

In [158]:
list2=['Oranges','Mangoes','Bananas',('Green Apples','Black Apples','Red Apples'),'Grapes']
list2

['Oranges',
 'Mangoes',
 'Bananas',
 ('Green Apples', 'Black Apples', 'Red Apples'),
 'Grapes']

We have a tuple at the index `-2`. Let's see if we can change its elements using multiple indexing and a simple assignment statement:

In [159]:
list[-2][0]='GreenApples'

TypeError: 'types.GenericAlias' object does not support item assignment

So, __<font color="red"> No!__, we cannot modify an element of a tuple that is nested inside a list.

##### 2. Adding Elements to list

To add elements to a list, we can use a simple addition (+) operator. However, there is a function of `extend()`, that is used to add elements in a list. Remember, even if you are adding a single value, you need to add it within square brackets inside the parenthesis of the function.

In [160]:
list1

['Physics', 'Chemistry', 'Mathematics', 'Computer Science']

In [165]:
list1.extend(['Biology','Physical Education','General Studies'])
list1

['Physics',
 'Chemistry',
 'Mathematics',
 'Computer Science',
 'Biology',
 'Physical Education',
 'General Studies']

However, if you don't put square brackets, then each character of a string will become an element of the list. It can be depicted below -

In [166]:
list1.extend('Sports')
list1

['Physics',
 'Chemistry',
 'Mathematics',
 'Computer Science',
 'Biology',
 'Physical Education',
 'General Studies',
 'S',
 'p',
 'o',
 'r',
 't',
 's']

Hence, it is important to add square brackets for the `extend()` function.

There is another function `append()` that is used to add elements to the end of a list. In this function, you __need not put the square brackets__ inside the parenthesis, as it will take each comma separated entry as an element. If you want to nest a tuple or a list inside the list, then you can use the square brackets. 

This function adds a _single element_ at the end of the list. You __cannot add more than one element at a time__ with this function. Let us see an example of this -

In [168]:
list1=['Python','Programming',True,(True, 4.5, 1,False, 'Program'),2.4,False];
list1

['Python', 'Programming', True, (True, 4.5, 1, False, 'Program'), 2.4, False]

In [170]:
list1.append('Fun')
list1

['Python',
 'Programming',
 True,
 (True, 4.5, 1, False, 'Program'),
 2.4,
 False,
 'Fun']

Now, if you want to add a list, or a tuple inside the list, then you can use the square brackets [ ] in the append() function. Let us see:

In [171]:
list1.append(['list1','list2',3,4,6])
list1

['Python',
 'Programming',
 True,
 (True, 4.5, 1, False, 'Program'),
 2.4,
 False,
 'Fun',
 ['list1', 'list2', 3, 4, 6]]

As you can see, the entries are all inserted as a nested list inside the list. The same syntax with the `extend()` function inserts them as elements.

##### 3. Deleting elements from List

For deleting elements from your list, you can use several functions. There is a keyword `del` that is used for this purpose only. It can be used to delete the whole list, or a part of the list using indexing and slicing.

Let us look at some examples -

In [172]:
list1

['Python',
 'Programming',
 True,
 (True, 4.5, 1, False, 'Program'),
 2.4,
 False,
 'Fun',
 ['list1', 'list2', 3, 4, 6]]

In [173]:
del list1[-1]
list1

['Python',
 'Programming',
 True,
 (True, 4.5, 1, False, 'Program'),
 2.4,
 False,
 'Fun']

In [175]:
del list1[-4:-2]
list1

['Python', 'Programming', True, False, 'Fun']

There are other ways to delete an element from a list. One of them is using the `pop()` function that removes the element specified from its index from the list. By default, it removes the last element.

Let us see an example:

In [176]:
list1.pop()
list1

['Python', 'Programming', True, False]

There is another function called `remove()` that is used to remove a specific element from the list. You have to give the value of the element as parameter of this function. 

Here is an example -

In [177]:
list1.remove(True)
list1

['Python', 'Programming', False]

##### 4. Sorting a List

We already saw the `sorted()` function for tuples. However, lists use the `sort()` function for sorting. Also, you can provide a parameter inside the parenthesis for `Reverse=TRUE` to enable sorting in reverse order.

Let us look at an example -

In [180]:
list2

['Oranges', 'Mangoes', 'Bananas', 'Grapes']

Now, let us use the `sort()` function.

In [182]:
list2.sort()

This function does not return any value, and simply sorts the list, and stores the sorted list in the original list.

In [183]:
list2

['Bananas', 'Grapes', 'Mangoes', 'Oranges']

Here is the sorted list. If you want to sort by reverse order, then do this:

In [188]:
list2.sort(reverse=True);
list2

['Oranges', 'Mangoes', 'Grapes', 'Bananas']

__`Sort()` vs `Sorted()` Functions__

Both the functions perform the same job, but their method of sorting is different. 

The `sort()` method sorts the list on the basis of ASCII values, and it overwrites the original list with the sorted list. This function does not return anything, and hence, assigning it to any variable won't be of any use.

In case you want to preserve the original list, we use the `sorted()` function. This function takes any iterable object (Strings and Data Structures) as parameters, and returns the sorted list. It does not overwrite the original list. Hence, you can assign this to a variable.

In [189]:
list1=['Oranges','Guavas,','Grapes','Pineapples','Bananas','Cherries','Apples']

_Using the `sorted()` function_

In [193]:
list2=sorted(list1);
print('Sorted list: ',list2)
print('Original List: ',list1)

Sorted list:  ['Apples', 'Bananas', 'Cherries', 'Grapes', 'Guavas,', 'Oranges', 'Pineapples']
Original List:  ['Oranges', 'Guavas,', 'Grapes', 'Pineapples', 'Bananas', 'Cherries', 'Apples']

It is important to remember that the `sorted()` function supports __only those data structures that have all the elements of the same data type__.

_Using the `sort()` function_

In [194]:
list3=list1.sort()
print('Sorted list: ',list3)
print('Original List: ',list1)

Sorted list:  None
Original List:  ['Apples', 'Bananas', 'Cherries', 'Grapes', 'Guavas,', 'Oranges', 'Pineapples']

Hence, you can see the difference between the two functions !

##### Shallow Copying

When you use the = operator in an assignment statement, you copy the address of the object on the right to the object on the left. 
When this is a literal (number, bool, string etc), it does not matter. But, when it is a variable in itself, then it becomes a problem. 

Consider the following statement -

In [195]:
A=['Guava','Oranges','Mangoes']
B=A

Here, we have copied the memory address of A into B. Hence, essentially, they are the same object, having two different names. What happens when we modify any one of them?

In [196]:
A[0]='Apples'

Let us see the output of both A and B.

In [198]:
print(A)
print(B)

['Apples', 'Oranges', 'Mangoes']
['Apples', 'Oranges', 'Mangoes']

Here, you can see that even though we changed the value of A only, the value of B also changed. This is because the variables are sharing the memory address of the same object. If B is modified, then A will also be modified.

To avoid this, we use a concept called __Shallow Copying__. Here, we use the slicing syntax to create a separate object as a copy of the original subject, so that it has different memory address assigned to it.

In [199]:
B=A[:]

Now, let us see both lists first.

In [201]:
print(A)
print(B)

['Apples', 'Oranges', 'Mangoes']
['Apples', 'Oranges', 'Mangoes']

Currently, they are the same. Let us modify the list B.

In [202]:
B[2]='Cherries'

Now, let us see if both of them are modified, or only one of them is.

In [203]:
print(A)
print(B)

['Apples', 'Oranges', 'Mangoes']
['Apples', 'Oranges', 'Cherries']

Here you go ! Our copy is created here. This is a very useful concept, when you want to perform certain operations on a list, but also want to retain the original one.

The following image will help in understanding it better - 

<img src="https://images.upgrad.com/dcce0524-383d-47e6-8d29-febd498a62af-Shallow%20and%20Deep%20Copying.png" width="70%" height="auto" style="margin:0 auto">