## Data Structures in Python

Basically, these structures can hold the data together. A __Data Structure__ is a particular way of organizing data in a computer so that it can be used effectively. The four built-in data structures in Python are:
- <a href="#tuple">Tuples</a>
- <a href="#list">Lists</a> 
- <a href="#dictionary">Dictionaries</a> 
- <a href="#sets">Sets</a>

### <a class=anchor id="tuple">Tuples</a>

Tuples are __compound data types__ that store _mixed data type values_ in an ordered manner. These are __immutable__, and are defined using the normal brackets `( )`. 

They are stored in the sequence in which they are entered. A tuple is allocated space in the memory according to the elements inside it, and those elements are associated with their _index number_ that describes their position in the tuple.

The syntax for tuples goes like this – 

<code>Identifier = (value<sub>1</sub>, value<sub>2</sub>, …… value<sub>n</sub>); </code>

It can hold multiple data types within itself. You can store all integer, all float, all Boolean or all string values, as well as any combination of these 4. Here is a simple example for illustration:

In [3]:
x1 = (1,2,3,4,5);
x2 = (1.1,2.2,3.3,4.4,5.5);
x3 = (True,False);
x4 = ('Hi','This','is','python');
x5= (1,'Hi',True,4.4);

In [5]:
print(x1,type(x1))
print(x2,type(x2))
print(x3,type(x3))
print(x4,type(x4))
print(x5,type(x5))

(1, 2, 3, 4, 5) <class 'tuple'>
(1.1, 2.2, 3.3, 4.4, 5.5) <class 'tuple'>
(True, False) <class 'tuple'>
('Hi', 'This', 'is', 'python') <class 'tuple'>
(1, 'Hi', True, 4.4) <class 'tuple'>

#### How to define Tuples

There are a number of ways to define tuples in python. They can be defined _without parenthesis_ or even as a _single tuple_.

__Defining tuples without parenthesis__

In [2]:
x5=1,2,3,4,5;
x6=2,'Yash',True,4.5;

print(x5,type(x5))
print(x6,type(x6))

(1, 2, 3, 4, 5) <class 'tuple'>
(2, 'Yash', True, 4.5) <class 'tuple'>

__Defining singular tuples__

You have to use a comma after writing the value in the tuple to tell python that the identifier will be a tuple, and not any other type. Some examples are given below:

In [3]:
y1=1,
y2='Yash',
y3=True,
y4=4.5,

print(y1,type(y1))
print(y2,type(y2))
print(y3,type(y3))
print(y4,type(y4))

(1,) <class 'tuple'>
('Yash',) <class 'tuple'>
(True,) <class 'tuple'>
(4.5,) <class 'tuple'>

If you do not use commas after them, then python will assign data types to them according to the values present there. An illustration is given here:

In [4]:
y5=1
y6='Yash'
y7=True
y8=4.5

print(y5,type(y5))
print(y6,type(y6))
print(y7,type(y7))
print(y8,type(y8))

1 <class 'int'>
Yash <class 'str'>
True <class 'bool'>
4.5 <class 'float'>

#### How to access data inside a Tuple

Since tuples are a sequence of ordered data, we can use basic indexing and slicing (both forward and reverse), to extract elements inside it.

##### Indexing in Tuples

Let us look at the following example:

In [8]:
x=1,2,'Yash',3.5,True,'Python',4,'Program',False

print('Forward Indexing: ',x[0],x[1],x[2])
print('Reverse Indexing: ',x[-3],x[-2],x[-1])

Forward Indexing:  1 2 Yash
Reverse Indexing:  4 Program False

We can also access the characters inside the string element(s) using __multiple indexing__. This can be used in the following way:

In [10]:
print('Forward Indexing: ',x[2][2], x[5][3], x[7][3])
print('Reverse Indexing (a): ',x[-2][3], x[-4][2], x[-4][1])
print('Reverse Indexing (b): ',x[-2][-3], x[-4][-2], x[-7][-2])

Forward Indexing:  s h g
Reverse Indexing (a):  g t y
Reverse Indexing (b):  r o s

Using single indexing, we were able to navigate through the tuple elements, but in multiple indexing, we were able to navigate through strings inside a tuple. Please note that this method will not work with any other data type than string.

##### Slicing in Tuples

Slicing can also be implemented in the very same manner as indexing. We can use forward indexing, or reverse indexing to apply slicing. Remember that contrary to strings, slicing in tuples will return elements of the string as a single tuple. 

An example to illustrate this:

In [12]:
x

(1, 2, 'Yash', 3.5, True, 'Python', 4, 'Program', False)

In [49]:
x[3:], x[:6], x[1::2], x[:6:3]

((3.5, True, 'Python', 4, 'Program', False),
 (1, 2, 'Yash', 3.5, True, 'Python'),
 (2, 3.5, 'Python', 'Program'),
 (1, 3.5))

In [18]:
x[-4:], x[:-3],x[-6:-3]

(('Python', 4, 'Program', False),
 (1, 2, 'Yash', 3.5, True, 'Python'),
 (3.5, True, 'Python'))

We can also use __multiple slicing__ for string elements. It is to be used in the same way indexing was used, using two square brackets. It has to be used as a combination of indexing and slicing, though.

An example is given below:

In [48]:
x[5::2][1][:3], x[2][-2:]

('Pro', 'sh')

#### Operations on Tuples

We can apply multiple operations to tuples, similar to other data types. Let us look at them.

##### Addition (Concatenation)

In [59]:
x=1,2,'Yash',3.5,True,'Python',4,'Program',False
y=1,3,4,True,'Yash',False;

z=x+y
z

(1,
 2,
 'Yash',
 3.5,
 True,
 'Python',
 4,
 'Program',
 False,
 1,
 3,
 4,
 True,
 'Yash',
 False)

##### Subtraction

In [117]:
j=1,2,3,4,5;
k=2,3,4,5,6;

j-k

TypeError: unsupported operand type(s) for -: 'tuple' and 'tuple'

In [60]:
z-x

TypeError: unsupported operand type(s) for -: 'tuple' and 'tuple'

Hence, subtraction is <font color="red"> not supported </font>. Same is the case with division, exponential, modulus, floor division.

##### Multiplication

In the case of multiplication, it will be multiplied with only an integer, and treated as a repeating operator. The tuple will be repeated that many times.

In [67]:
len(x),len(x*3)

(9, 27)

#### Nested Tuples

You can add a tuple as an element inside another tuple. For the inner tuple, you have to use the brackets () to tell python that this element will be a tuple.

An illustration is given below:

In [69]:
y=1,2,3,('Yash','Jain',True,3.4,4,5.6,False),True,3.4,'hello'
y

(1, 2, 3, ('Yash', 'Jain', True, 3.4, 4, 5.6, False), True, 3.4, 'hello')

In [70]:
y[3]

('Yash', 'Jain', True, 3.4, 4, 5.6, False)

In [72]:
type(y), type(y[3])

(tuple, tuple)

You can use indexing and slicing here as well. It will be the same syntax, with more brackets to access any specific element inside the tuple(s).

In [91]:
y[3][:2][0][1:],y[3][:2][1][1:]

('ash', 'ain')

#### Functions on Tuples

You can use various functions with tuples. These can be arithmetic functions like `sum()`, `max()` and `min()`, or these can be sorting function `sorted()`.

An illustration of this is given below:

In [97]:
x=1,2,3;
y=2,3,4;
z='Python',2,3,4,5,'Programming';

In [99]:
sum(x),sum(y)

(6, 9)

The z tuple elements cannot be added, since they do not have elements of the same data type. Let us see what do we have if a tuple has all string elements.

In [104]:
z1='Welcome','to','Python','Programming';
sum(z1)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

We can clearly see here, that sum() will only work on tuples having non-string data types. Let us see another example.

In [108]:
z2=1,3,5.6,2,4,True,5,6.7
sum(z2)

28.3

As expected, the boolean values have been treated as their integer counterparts 0 (False) and 1 True). Now, let us see the <code>sorted()</code> function. This function creates a list instead of a tuple.

In [24]:
z1='Welcome','to','Python','Programming'
z2=1,3,5.6,2,4,True,5,6.7
print(sorted(z2),sorted(z1),type(sorted(z2)))

[1, True, 2, 3, 4, 5, 5.6, 6.7] ['Programming', 'Python', 'Welcome', 'to'] <class 'list'>

Hence, to get a sorted tuple, we use the `tuple()` function to typecast this. It is used in the following way:

In [25]:
print(tuple(sorted(z2)),type(tuple(sorted(z2))))

(1, True, 2, 3, 4, 5, 5.6, 6.7) <class 'tuple'>

In [130]:
z='Python',2,3,4,5,'Programming';
sorted(z)

TypeError: '<' not supported between instances of 'int' and 'str'

So, even in this function, we need the data types of the elements to be the same. It is essential to notice such small things in Python.

Now, let us see the <code> min() </code> and the <code> max() </code> functions.

In [121]:
num=3,9,5,7,8,3,4,True,0,False;

max(num),min(num)

(9, 0)

In [126]:
max(z),min(z)

TypeError: '>' not supported between instances of 'int' and 'str'

Hence, these functions do not support the string type at all. They only support the integer and float types, whereas the booleans True and False are taken as 1 and 0 respectively.

#### Immutability of Tuples

Tuples __cannot be modified once created__. We can clearly see from the following example, what happens when we try to change a tuple:

In [4]:
x=1,2,3,4,5;
x[3]=6

TypeError: 'tuple' object does not support item assignment

Hence, it is clearly visible that tuple elements cannot be modified. How to modify a tuple, then ? 

There can be 2 ways to do it -
- Use slicing to create a new tuple and overwrite it with the original one.
- Create a whole new tuple with the modified value.

__Using Slicing__

In [18]:
x=1,2,3,4,5,6,7
t=x[:3]+(8,)+x[5:]
x=t
t=()
x,t

((1, 2, 3, 8, 6, 7), ())

Here, we first sliced the tuple, and then replaced the value of the element and combined them into t. Then, we copied all the values of t into the original tuple x, and declared t as an empty tuple.

__Creating a new variable__

This method is actually depicted above, just the difference is that we do not use the last two statements where we copy all the values of t into x and then empty the tuple t.

In [21]:
temp=x[:3]+(12,)+x[5:]
temp,x

((1, 2, 3, 12, 7), (1, 2, 3, 8, 6, 7))

#### Packing and Unpacking of Tuples

__Packing__ is done, when we create a tuple. It is when we pack several values into one single tuple. It is what initiates making a tuple. 

__Unpacking__ is the absolute opposite of it. It means to split / unpack the tuple into its elements. Let us see some examples of unpacking.

In [29]:
tup=1,2,3,4,5,6,7; # this is packing
tup,type(tup),len(tup)

((1, 2, 3, 4, 5, 6, 7), tuple, 7)

We have packed 7 elements into a tuple. Let us now unpack the tuple. It is done in the following way:

In [36]:
(x1,x2,x3,x4,x5,x6,x7)=tup;
print(x1,x2,x3,x4,x5,x6,x7)
print(type(x1),type(x2),type(x3))

1 2 3 4 5 6 7
<class 'int'> <class 'int'> <class 'int'>

If we provide more or less elements inside the brackets, it will show __<font color="red"> error ! </font>__. This is because it is used to unpack each element, not split the tuple into multiple tuples.

The following examples will provide a better clarity:

In [32]:
(x,y,z)=tup

ValueError: too many values to unpack (expected 3)

In [33]:
(x1,x2,x3,x4,x5,x6,x7,x8,x9)=tup

ValueError: not enough values to unpack (expected 9, got 7)

This was the reason of using the `len()` function in the first statement to know how many elements are there to be extracted. It is an essential part of using the function.

### <a class=anchor id="list">Lists</a>

Lists are also data structures, just like tuples. They are _ordered sequence of mixed data types_, that are __mutable__, i.e. they can be modified after creation, unlike tuples. They are stored in the same way tuples are; using indexes. 

They are written enclosed in square brackets `[ ]`, and the elements inside a list can be entered using comma-separated values within these square brackets.

Let us see some common examples.

In [76]:
list1=[1,2,3,4,5]
list2=['str1','str2','str3','str4'];
list3=[True,False,True];
list4=[3.3,55.6,1.2,81.3];

print(list1,type(list1))
print(list2,type(list2))
print(list3,type(list3))
print(list4,type(list4))

[1, 2, 3, 4, 5] <class 'list'>
['str1', 'str2', 'str3', 'str4'] <class 'list'>
[True, False, True] <class 'list'>
[3.3, 55.6, 1.2, 81.3] <class 'list'>

Lists can also have mixed data types, just like tuples. Here are some examples:

In [77]:
list1=['ABCDEFG',1,True,3.4]
list2=[1,2,'Python',3,3.5,6.3,True, 'Programming']

list1,list2

(['ABCDEFG', 1, True, 3.4], [1, 2, 'Python', 3, 3.5, 6.3, True, 'Programming'])

#### Indexing in Lists

Indexing in lists are done in the same way as they are done in tuples. There is no difference; you can use negative and positive indexing.

See the following examples:

In [78]:
list1=[1,2,'Python',True,4,6.5,7,'Programming','Good',3.4];

In [83]:
list1[3],list1[5],list1[-3],list1[-5]

(True, 6.5, 'Programming', 6.5)

You can once again use __multiple indexing__ for the string elements here. Let us see with an example below:

In [86]:
list1[2][4],list1[7][6],list1[-2][-3]

('o', 'm', 'o')

#### Slicing in Lists

Slicing in Lists is done in the same way as tuples. The following examples will depict it:

In [87]:
list1[:6],list1[4:],list1[3:8:2]

([1, 2, 'Python', True, 4, 6.5],
 [4, 6.5, 7, 'Programming', 'Good', 3.4],
 [True, 6.5, 'Programming'])

You can also use slicing and indexing together, to extract text from string elements. It is done in the following way:

In [89]:
list1[7][3:8],list1[-8][:-1]

('gramm', 'Pytho')

#### Nesting Lists and Tuples

Lists and tuples can be nested within one another. The indexing and slicing will follow the same rules as when tuples were nested inside tuples. Let us look at some examples:

__Nesting tuples inside Lists__

In [98]:
list1=['Python','Programming',True,(True, 4.5, 1,False, 'Program'),2.4,False];
list1[3] , type(list1[3])

((True, 4.5, 1, False, 'Program'), tuple)

In [104]:
list1[3][-1][-4:-1]

'gra'

__Nesting lists inside Lists__

In [106]:
list1=['Python','Programming',True,[True, 4.5, 1,False, 'Program'],2.4,False];
list1[3],type(list1[3])

([True, 4.5, 1, False, 'Program'], list)

In [110]:
list1[3][-1][:5]

'Progr'

#### Memberships in Lists

The membership operators `IN` and `NOT IN` are also used with lists to navigate through them. They can be used in the same way as strings, only here, the whole element will be matched, instead of characters.

The following example illustrates this:

In [111]:
list1

['Python', 'Programming', True, [True, 4.5, 1, False, 'Program'], 2.4, False]

In [130]:
print('Py' in list1)
print('Py' in list1[0])
print(False in list1[3])
print(True in list1[3][1:])

False
True
True
True

Note that the last value is coming true even though the boolean `TRUE` is not present. This is because the value 1 is present, which is its numeric form. These small things need to be considered.

In [140]:
print('Prog' not in list1[1])
print(False not in list1)

False
False

#### Operations on Lists

Let us see if the basic arithmetic operations are possible with lists or not. See the following examples:

##### Addition

In [143]:
list1=[1,2,3,4,5];
list2=[2,3,4,5,6];

list_new=list1+list2
list_new

[1, 2, 3, 4, 5, 2, 3, 4, 5, 6]

So, basic addition with other lists is possible. Can they perform the same operation with, say tuples ? or integers and floats and booleans ? Let's see.

In [144]:
tuple1=1,2,3,4,5;

struct_new=list1+tuple1

TypeError: can only concatenate list (not "tuple") to list

Hence, we cannot add anything other than a list to a list.

##### Subtraction

In [145]:
list1,list2

([1, 2, 3, 4, 5], [2, 3, 4, 5, 6])

In [146]:
list2-list1

TypeError: unsupported operand type(s) for -: 'list' and 'list'

Hence, we cannot subtract two lists. Similarily, division, exponential, floor division, and modulus operations are not compatible with lists as well.

##### Multiplication

Again, just like tuples, lists can only be multiplied by integers, in which case, it will act as a repetition operator. Let us see an example:

In [150]:
list1,list1*3

([1, 2, 3, 4, 5], [1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5])

In [151]:
list1*list2

TypeError: can't multiply sequence by non-int of type 'list'

Hence proved ! Only the integer types can be multiplied by lists.

#### Modification of Lists

As discussed before, the key difference between a __<font color="#000080">list</font>__ and a __<font color="#000080">tuple</font>__ is that __lists are mutable__, and hence, provide a greater flexibility to us.

Let us see all the ways in which we can modify lists.

##### 1. Replacing an element

You can replace an element inside a list using a very simple assignment expression. Just use indexing to point to the element, and assign the new value to it. Here is an example:

In [163]:
list1=['Physics','Chemistry','Mathematics','Biology']
list1

['Physics', 'Chemistry', 'Mathematics', 'Biology']

In [164]:
list1[-1]='Computer Science'
list1

['Physics', 'Chemistry', 'Mathematics', 'Computer Science']

Hence, the element in the list is changed. It became very simple. Now a simple question :

__If a tuple is an element of a list, and you want to modify the element of the tuple, will you be able to do it?__

Let us look at an example for this.

In [158]:
list2=['Oranges','Mangoes','Bananas',('Green Apples','Black Apples','Red Apples'),'Grapes']
list2

['Oranges',
 'Mangoes',
 'Bananas',
 ('Green Apples', 'Black Apples', 'Red Apples'),
 'Grapes']

We have a tuple at the index `-2`. Let's see if we can change its elements using multiple indexing and a simple assignment statement:

In [159]:
list[-2][0]='GreenApples'

TypeError: 'types.GenericAlias' object does not support item assignment

So, __<font color="red"> No!__, we cannot modify an element of a tuple that is nested inside a list.

##### 2. Adding Elements to list

To add elements to a list, we can use a simple addition (+) operator. However, there is a method of `extend()`, that is used to add elements in a list. Remember, even if you are adding a single value, you need to add it within square brackets inside the parenthesis of the method.

In [160]:
list1

['Physics', 'Chemistry', 'Mathematics', 'Computer Science']

In [165]:
list1.extend(['Biology','Physical Education','General Studies'])
list1

['Physics',
 'Chemistry',
 'Mathematics',
 'Computer Science',
 'Biology',
 'Physical Education',
 'General Studies']

However, if you don't put square brackets, then each character of a string will become an element of the list. It can be depicted below -

In [166]:
list1.extend('Sports')
list1

['Physics',
 'Chemistry',
 'Mathematics',
 'Computer Science',
 'Biology',
 'Physical Education',
 'General Studies',
 'S',
 'p',
 'o',
 'r',
 't',
 's']

Hence, it is important to add square brackets for the `extend()` function.

There is another method `append()` that is used to add elements to the end of a list. In this method, you __need not put the square brackets__ inside the parenthesis, as it will take each comma separated entry as an element. If you want to nest a tuple or a list inside the list, then you can use the square brackets. 

This method adds a _single element_ at the end of the list. You __cannot add more than one element at a time__ with this method. Let us see an example of this -

In [168]:
list1=['Python','Programming',True,(True, 4.5, 1,False, 'Program'),2.4,False];
list1

['Python', 'Programming', True, (True, 4.5, 1, False, 'Program'), 2.4, False]

In [170]:
list1.append('Fun')
list1

['Python',
 'Programming',
 True,
 (True, 4.5, 1, False, 'Program'),
 2.4,
 False,
 'Fun']

Now, if you want to add a list, or a tuple inside the list, then you can use the square brackets [ ] in the append() method. Let us see:

In [171]:
list1.append(['list1','list2',3,4,6])
list1

['Python',
 'Programming',
 True,
 (True, 4.5, 1, False, 'Program'),
 2.4,
 False,
 'Fun',
 ['list1', 'list2', 3, 4, 6]]

As you can see, the entries are all inserted as a nested list inside the list. The same syntax with the `extend()` method inserts them as elements.

##### 3. Deleting elements from List

For deleting elements from your list, you can use several methods. There is a keyword `del` that is used for this purpose only. It can be used to delete the whole list, or a part of the list using indexing and slicing.

Let us look at some examples -

In [172]:
list1

['Python',
 'Programming',
 True,
 (True, 4.5, 1, False, 'Program'),
 2.4,
 False,
 'Fun',
 ['list1', 'list2', 3, 4, 6]]

In [173]:
del list1[-1]
list1

['Python',
 'Programming',
 True,
 (True, 4.5, 1, False, 'Program'),
 2.4,
 False,
 'Fun']

In [175]:
del list1[-4:-2]
list1

['Python', 'Programming', True, False, 'Fun']

There are other ways to delete an element from a list. One of them is using the `pop()` method that removes the element specified from its index from the list. By default, it removes the last element.

Let us see an example:

In [176]:
list1.pop()
list1

['Python', 'Programming', True, False]

There is another method called `remove()` that is used to remove a specific element from the list. You have to give the value of the element as parameter of this method. 

Here is an example -

In [177]:
list1.remove(True)
list1

['Python', 'Programming', False]

##### 4. Sorting a List

We already saw the `sorted()` function for tuples. However, lists use the `sort()` method for sorting. Also, you can provide a parameter inside the parenthesis for `Reverse=TRUE` to enable sorting in reverse order.

Let us look at an example -

In [180]:
list2

['Oranges', 'Mangoes', 'Bananas', 'Grapes']

Now, let us use the `sort()` function.

In [182]:
list2.sort()

This function does not return any value, and simply sorts the list, and stores the sorted list in the original list.

In [183]:
list2

['Bananas', 'Grapes', 'Mangoes', 'Oranges']

Here is the sorted list. If you want to sort by reverse order, then do this:

In [188]:
list2.sort(reverse=True);
list2

['Oranges', 'Mangoes', 'Grapes', 'Bananas']

__`Sort()` Method vs `Sorted()` Function__

Both of them perform the same job, but their method of sorting is different. 

The `sort()` method sorts the list on the basis of ASCII values, and it overwrites the original list with the sorted list. This method does not return anything, and hence, assigning it to any variable won't be of any use.

In case you want to preserve the original list, we use the `sorted()` function. This function takes any iterable object (Strings and Data Structures) as parameters, and returns the sorted list. It does not overwrite the original list. Hence, you can assign this to a variable.

In [189]:
list1=['Oranges','Guavas,','Grapes','Pineapples','Bananas','Cherries','Apples']

_Using the `sorted()` function_

In [193]:
list2=sorted(list1);
print('Sorted list: ',list2)
print('Original List: ',list1)

Sorted list:  ['Apples', 'Bananas', 'Cherries', 'Grapes', 'Guavas,', 'Oranges', 'Pineapples']
Original List:  ['Oranges', 'Guavas,', 'Grapes', 'Pineapples', 'Bananas', 'Cherries', 'Apples']

It is important to remember that the `sorted()` function supports __only those data structures that have all the elements of the same data type__.

_Using the `sort()` method_

In [194]:
list3=list1.sort()
print('Sorted list: ',list3)
print('Original List: ',list1)

Sorted list:  None
Original List:  ['Apples', 'Bananas', 'Cherries', 'Grapes', 'Guavas,', 'Oranges', 'Pineapples']

Hence, you can see the difference between the two !

##### Shallow Copying

When you use the = operator in an assignment statement, you copy the address of the object on the right to the object on the left. 
When this is a literal (number, bool, string etc), it does not matter. But, when it is a variable in itself, then it becomes a problem. 

Consider the following statement -

In [195]:
A=['Guava','Oranges','Mangoes']
B=A

Here, we have copied the memory address of A into B. Hence, essentially, they are the same object, having two different names. What happens when we modify any one of them?

In [196]:
A[0]='Apples'

Let us see the output of both A and B.

In [198]:
print(A)
print(B)

['Apples', 'Oranges', 'Mangoes']
['Apples', 'Oranges', 'Mangoes']

Here, you can see that even though we changed the value of A only, the value of B also changed. This is because the variables are sharing the memory address of the same object. If B is modified, then A will also be modified.

To avoid this, we use a concept called __Shallow Copying__. Here, we use the slicing syntax to create a separate object as a copy of the original subject, so that it has different memory address assigned to it.

In [199]:
B=A[:]

Now, let us see both lists first.

In [201]:
print(A)
print(B)

['Apples', 'Oranges', 'Mangoes']
['Apples', 'Oranges', 'Mangoes']

Currently, they are the same. Let us modify the list B.

In [202]:
B[2]='Cherries'

Now, let us see if both of them are modified, or only one of them is.

In [203]:
print(A)
print(B)

['Apples', 'Oranges', 'Mangoes']
['Apples', 'Oranges', 'Cherries']

Here you go ! Our copy is created here. This is a very useful concept, when you want to perform certain operations on a list, but also want to retain the original one.

The following image will help in understanding it better - 

<img src="https://images.upgrad.com/dcce0524-383d-47e6-8d29-febd498a62af-Shallow%20and%20Deep%20Copying.png" width="70%" height="auto" style="margin:0 auto">

### <a class=anchor id="sets">Sets</a>

Sets are another type of data structures in Python. Like Lists and Tuples, they can also take elements of mixed data types. However, one key difference between those two and Sets is that __Sets are unordered__.

This means that they are not stored in memory in an ordered manner. Due to this, it is __not possible__ for Sets to do __indexing__ and __slicing__. 

They are enclosed in curly brackets `{}` and need to be defined in this manner. The elements inside a set would be entered as comma-separated values.

#### How do Sets work ?

Sets store the values inserted in them, using uniqueness. There are __no repeated values__ in sets. It returns all the unique elements in a data structure.

__Syntax__ : <code>identifier = {element<sub>1</sub>,element<sub>2</sub>,..................element<sub>n</sub>}</code>

Let us look at some examples.

In [1]:
set1={1,2,3,4,5,1,2,3,3,4,6,7,4,3,2}
set1

{1, 2, 3, 4, 5, 6, 7}

As you can see, even though the elements inserted were repeated, when the set was created, it only stored the unique elements.

In [4]:
set2={1,0,True,False,'Python','Program','python',2,3,0,False ,'1'}
set2

{0, 1, '1', 2, 3, 'Program', 'Python', 'python'}

As you can see, it returns the unique values inside it, even with mixed data types.

It is important to notice that __Sets automatically sort the values in ascending order__:

In [17]:
set2={'P','J','L','S','A','N','C'}
set2

{'A', 'C', 'J', 'L', 'N', 'P', 'S'}

In [19]:
set3={'Yash',4,'Nimo','Python',True,5,3,4,4,'Linux','Windows',False,3.3,9.4,1.3,True,'Python'}
set3

{1.3,
 3,
 3.3,
 4,
 5,
 9.4,
 False,
 'Linux',
 'Nimo',
 'Python',
 True,
 'Windows',
 'Yash'}

Hence, they sorted first the numeric values (integers and floats), and then the other values. Note that boolean values are sorted by taking them as strings, and not 1 and 0 (otherwise False and True would be the first 2 values).

#### Modifying Sets

Sets are actually very flexible when it comes to modification. You can overwrite a whole set, or you can add and remove values from a set. 

Since it is not possible to use indexing, the addition and deletion of elements are completed by specifying the exact value to be added or removed.

##### Adding elements

For adding elements to Sets, we use the `add()` method. The element to be added needs to be different from the elements already there in the set. It won't show an error if you input an existing value, but it won't be stored as a separate element.

Let us see an example.

In [6]:
set1

{1, 2, 3, 4, 5, 6, 7}

In [10]:
set1.add(3.5)
set1

{1, 2, 3, 3.5, 4, 5, 6, 7}

In [14]:
set1.add('Python')
set1

{1, 2, 3, 3.5, 4, 5, 6, 7, 'Python'}

Let us try to add an existing element in the set. It won't show any difference in the output.

In [16]:
set1.add(3.5)
set1

{1, 2, 3, 3.5, 4, 5, 6, 7, 'Python'}

See? Because sets store unique values, hence there is no change in the output.

##### Removing Elements

To remove an element from a set, we use the `remove()` method. The parameter inside this method specifies the removed element from the set.

In [20]:
set1

{1, 2, 3, 3.5, 4, 5, 6, 7, 'Python'}

In [22]:
set1.remove(3.5)
set1

{1, 2, 3, 4, 5, 6, 7, 'Python'}

It is important to note that this function and the `add()` methods - both these functions __do not return values__. They simply modify the existing set, after performing the operation.

#### Operations on Sets

Sets work in python, just like they do in mathematics. Hence, the operations in sets are also the same. These operations are -

- Union
- Intersection
- Difference
- Symmetric Difference

##### Union

The __union__ operation in sets returns the all the unique values from both the sets. It is used in the same way it is used in mathematics. The following diagram will help explain it better:

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5VNtEibMdUff0DK9rQSpF8_JOMZ96QgTQfA&usqp=CAU" height=auto width=30% style="border:2px solid #000080; padding:2%">

The blue shaded part is the union of two sets A and B. 

We perform this operation, by simply using the OR operator (|) or the union() method. The syntax for this is given below:

__Syntax__: `A|B` or `A.union(B)`

Let us see an example:

In [24]:
A={'This','is','This','Python','Programming','Love','is'}
B={'Python','lovely','great','is','Love'}

In [35]:
A|B,B|A

({'Love', 'Programming', 'Python', 'This', 'great', 'is', 'lovely'},
 {'Love', 'Programming', 'Python', 'This', 'great', 'is', 'lovely'})

In [36]:
A.union(B),B.union(A)

({'Love', 'Programming', 'Python', 'This', 'great', 'is', 'lovely'},
 {'Love', 'Programming', 'Python', 'This', 'great', 'is', 'lovely'})

Here, you can see that the __union is a commutative operation__.

##### Intersection

The intersection operation returns the values of two sets that are common. Hence, this function returns the actual intersection between two sets. The following image will explain better:
    
<img src="https://www.mathstopia.net/wp-content/uploads/2021/01/a-n-b.jpg" height=30% width=40%>

The shaded region is the intersection of 2 sets A and B.

We perform this operation by using the AND operator (&) or the intersection() method. The syntax for this is given below:

__Syntax__: `A & B` or `A.intersection(B);`

Let us see an example.

In [39]:
A,B

({'Love', 'Programming', 'Python', 'This', 'is'},
 {'Love', 'Python', 'great', 'is', 'lovely'})

In [46]:
A & B,B & A

({'Love', 'Python', 'is'}, {'Love', 'Python', 'is'})

In [45]:
A.intersection(B),B.intersection(A)

({'Love', 'Python', 'is'}, {'Love', 'Python', 'is'})

##### Difference

The difference operation returns all the items from a set that is not in the other set. Mathematically, it is the difference of the elements in set A that are not common with set B.

The following image will explain it better - 

<img src="https://media.geeksforgeeks.org/wp-content/cdn-uploads/set-difference.jpg" height=20% width=40% style="border:2px solid; padding:0%">

The shaded region is the difference of two sets A and B.

This operation can be performed using the minus (-) operator. The syntax is given below -

__Syntax__: `A - B;`

Let us see an example.

In [47]:
A,B

({'Love', 'Programming', 'Python', 'This', 'is'},
 {'Love', 'Python', 'great', 'is', 'lovely'})

In [48]:
A-B

{'Programming', 'This'}

In [49]:
B-A

{'great', 'lovely'}

Here, it is clearly visible that the difference operation is __not commutative__.

##### Symmetric Difference

The symmetric difference is the union of the two differences of two sets. It can be described as the union of all the elements that are just in either set. 

The following image will help in understanding better - 

<img src="https://www.cdn.geeksforgeeks.org/wp-content/uploads/symmetric-difference.jpg" height=30% width=40% style="border:2px solid; padding:0%">

The shaded region is the symmetric difference of two sets A and B.

This operation can be performed by using the circumflex operator (^) or the union (|) and minus(-) operators. The syntax is given below -

__Syntax__: `A ^ B` or `A-B | B-A`

Let us see an example.

In [57]:
A,B

({'Love', 'Programming', 'Python', 'This', 'is'},
 {'Love', 'Python', 'great', 'is', 'lovely'})

In [58]:
A ^ B, B ^ A

({'Programming', 'This', 'great', 'lovely'},
 {'Programming', 'This', 'great', 'lovely'})

In [59]:
A-B | B-A, B-A | A-B

({'Programming', 'This', 'great', 'lovely'},
 {'Programming', 'This', 'great', 'lovely'})

Hence, it is quite clear that __symmetric difference is commutative__.

#### Typecasting with Sets

Typecasting with Sets can be used to extract unique values from any list or tuple. It is a very useful feature, as it allows us to get more familiar with our data. 

We use the `set()` function to use typecasting.

Let us see some examples.

In [60]:
A=['Apples','Oranges','Melon','Oranges','Grapes','Apples','Cherries'];
B=1,2,'Python',3.4,5,1,3,True,'Python';

A,B

(['Apples', 'Oranges', 'Melon', 'Oranges', 'Grapes', 'Apples', 'Cherries'],
 (1, 2, 'Python', 3.4, 5, 1, 3, True, 'Python'))

Now, let us turn the list into a set.

In [62]:
setA=set(A);
setA

{'Apples', 'Cherries', 'Grapes', 'Melon', 'Oranges'}

Here, you can see that only the unique values have been extracted. Next, let us try with the tuple:

In [63]:
setB=set(B)
setB

{1, 2, 3, 3.4, 5, 'Python'}

Here, you can clearly see that the value `TRUE` wasn't extracted. This is because the set took its value as 1, and there already is an element 1 in the set.

Let us see what happens when we turn them back to their original data structures.

In [67]:
A,list(setA)

(['Apples', 'Oranges', 'Melon', 'Oranges', 'Grapes', 'Apples', 'Cherries'],
 ['Grapes', 'Melon', 'Apples', 'Cherries', 'Oranges'])

In [68]:
B,tuple(setB)

((1, 2, 'Python', 3.4, 5, 1, 3, True, 'Python'), (1, 2, 3.4, 3, 5, 'Python'))

Here, it is clearly visible that __loss of data occurs__ in some cases while working with sets. While sometimes it is what we want, other times, it compromises the integrity, accuracy and reliability of the data.

#### Nesting in Sets

Let us see if we can nest a list, tuple or another set within a set. Nesting is important as it gives us the ability to store data in multiple layers within a data structure.

__Nesting list in a set__

In [8]:
set1={'A','B',[1,2,6,5,2,3],'A','C'}
set1

TypeError: unhashable type: 'list'

So, we __cannot__ nest a list inside a set. Let us try for tuples now.

__Nesting tuple in a set__

In [9]:
set1={'A','B',(1,2,6,5,2,3),'A','C'}
set1

{(1, 2, 6, 5, 2, 3), 'A', 'B', 'C'}

Here, we can see that we definitely __can nest a tuple__ inside a set. Let us try for sets now.

__Nesting sets in a set__

In [12]:
set1={'A','B',{1,2,6,5,2,3},'A','C'}
set1

TypeError: unhashable type: 'set'

Hence, we __cannot nest a set__ inside another set.

### <a class=anchor id="dictionary">Dictionaries</a>

Dictionaries are the type of data structures in python that __store data in a `key:value` pair__. It is like an actual dictionary - a key, meaning the word, and the value, meaning the explanation of the key. 

The `key:value` pair is a single element in a dictionary. In this data structure, the following is considered:
- Key mean the indexes of the values, that are immutable and unique.
- The values are the objects containing data. These can be any data type object (int, float, bool, string) or it can be another data structure (list, tuple, set).
- Each value can be accessed using their key. This is just like indexing.
- There can be duplicate `key:value` pairs in dictionaries.

_Syntax_: <code>identifier = {key<sub>1</sub>:value<sub>1</sub>,key<sub>2</sub>:value<sub>2</sub>......}</code>

Let us see an example.

In [13]:
dict1={'INR':'India','USD':'United States','OMR':'Oman','EUR':'Europe'};
dict1

{'INR': 'India', 'USD': 'United States', 'OMR': 'Oman', 'EUR': 'Europe'}

Let us see if we can assign multiple values to the same key.

In [16]:
dict2={'INR':'India','USD':'United States','OMR':'Oman','EUR':'Europe','INR':'Hindustan'};
dict2

{'INR': 'Hindustan', 'USD': 'United States', 'OMR': 'Oman', 'EUR': 'Europe'}

Here, you can see that the value assigned to the key is one value only, but it takes the most recent entry for the key in consideration.

#### Accessing values inside a Dictionary

To access values inside a dictionary, we use the basic indexing. The only difference is that since the indexes are customized using the __key values__, we need to __mention the key index value__ for it to work. An example is shown below:

In [18]:
dict1={1:'One',2:'Two','1':'Once','2':'Twice'};
dict1

{1: 'One', 2: 'Two', '1': 'Once', '2': 'Twice'}

In [21]:
dict1[1],dict1['1']

('One', 'Once')

Hence, you can see that one index is defined as an int variable, while the other index is defined as a string variable. Although both of them contain the same value (1), they are treated as different indexes.

__Using Data Structures as Indexes in Dictionary__

Let us see if we can define a list, tuple or a set as an index or not.

In [22]:
dict1={[1,2,3]:'One',2:'Two',3:'Three'};
dict1

TypeError: unhashable type: 'list'

From here, it is clearly visible that we __cannot add list__ as an index.

In [29]:
dict1={(1,2,3):'One',2:'Two',3:'Three'};
dict1[(1,2,3)]

'One'

Here, it is clearly visible that __a tuple can be added as an index__ but the values inside the tuple won't have any significance, other than that they have to be written together as a tuple for indexing.

In [26]:
dict1={{1,2,3}:'One',2:'Two',3:'Three'};
dict1

TypeError: unhashable type: 'set'

Hence, we concluded that __a set cannot__ be added as an index.

#### Nesting in Dictionaries

Let us use data structures as values, and try to access their elements. We will start with lists.

In [33]:
dict2={'India':'Delhi','USA':'California','Europe':['Germany','France','United Kingdom']}
dict2['Europe'][2]

'United Kingdom'

Let us now move on to tuples.

In [35]:
dict2={'India':'Delhi','USA':'California','Europe':('Germany','France','United Kingdom')}
dict2['Europe'][1]

'France'

Now, let us try sets.

In [39]:
dict2={'India':'Delhi','USA':'California','Europe':{'Germany','France','United Kingdom'}}
dict2['Europe']

{'France', 'Germany', 'United Kingdom'}

#### Indexing in Dictionaries

The indexing in dictionaries is same as tuples and lists, the only difference being that the index can be any data type from string, to int, to float, to bool, and even tuple. It all depends on the definition of the dictionary.

Let us see an example, using all these data types as indexes.

In [40]:
dict1={1:'One',1.5:'One point five','hello':'This is one',True:'The truth',False:'This is false',(1,1.5,'hello',True,False):'Tuple values'}
dict1

{1: 'The truth',
 1.5: 'One point five',
 'hello': 'This is one',
 False: 'This is false',
 (1, 1.5, 'hello', True, False): 'Tuple values'}

In [42]:
dict1[1],dict1[1.5]

('The truth', 'One point five')

In [44]:
dict1['hello'],dict1[True],dict1[False]

('This is one', 'The truth', 'This is false')

In [45]:
dict1[(1,1.5,'hello',True,False)]

'Tuple values'

We can even use __multiple indexing__ when we define values as strings or data structures. Let us see an example:

In [50]:
dict1={1:'String',2:2,3:3.5,'Tuple':(1,2,True,3,'False'),'List':[1,2,4.5,'List1','List2',False],'Set':{1,2,4,5,2,5,6,4,3,1,6}}

In [54]:
dict1[1][3],dict1[3]

('i', 3.5)

In [63]:
dict1['Tuple'][-1][-3],dict1['List'][3][2],dict1['Set']

('l', 's', {1, 2, 3, 4, 5, 6})

#### Slicing in Dictionaries

Slicing in dictionaries can be done in the same way that it is done in strings, lists and tuples. Let us see some examples:

In [64]:
dict1

{1: 'String',
 2: 2,
 3: 3.5,
 'Tuple': (1, 2, True, 3, 'False'),
 'List': [1, 2, 4.5, 'List1', 'List2', False],
 'Set': {1, 2, 3, 4, 5, 6}}

In [65]:
dict1[1][-4:-2]

'ri'

In [77]:
dict1['Tuple'][-4:-1],dict1['List'][1:4]

((2, True, 3), [2, 4.5, 'List1'])

In [73]:
dict1['Tuple'][-4::2][0], dict1['List'][-5:-1][-2][-4:-2]

(2, 'is')

Note that slicing is not allowed in sets, so it cannot be done there.

#### Modifying Dictionaries

Dictionaries are mutable, and the immutable data types inside dictionaries are not mutable. Let use see some basic modifications:

##### 1. Replacing an Element

To replace an element inside a dictionary, we simply use a combination of indexing and assignment operator `=`. This can be done as in the following examples:

In [79]:
dict1

{1: 'String',
 2: 2,
 3: 3.5,
 'Tuple': (1, 2, True, 3, 'False'),
 'List': [1, 2, 4.5, 'List1', 'List2', False],
 'Set': {1, 2, 3, 4, 5, 6}}

In [80]:
dict1[2]='Two'
dict1

{1: 'String',
 2: 'Two',
 3: 3.5,
 'Tuple': (1, 2, True, 3, 'False'),
 'List': [1, 2, 4.5, 'List1', 'List2', False],
 'Set': {1, 2, 3, 4, 5, 6}}

In [83]:
dict1['List'][2]='Four Point Five'
dict1

{1: 'String',
 2: 'Two',
 3: 3.5,
 'Tuple': (1, 2, True, 3, 'False'),
 'List': [1, 2, 'Four Point Five', 'List1', 'List2', False],
 'Set': {1, 2, 3, 4, 5, 6}}

In [86]:
dict1['Tuple'][2]=False

TypeError: 'tuple' object does not support item assignment

Hence, since tuples do not support modification, we cannot modify them. But, we can use typecasting to modify it. Let us see with the following example:

In [94]:
dict1['Tuple']=list(dict1['Tuple'])
dict1['Tuple'][-1]=False

In [95]:
dict1['Tuple']=tuple(dict1['Tuple'])
dict1['Tuple']

(1, 2, True, 3, False)

In [115]:
dict2[2.5]=2.5
dict2[True]=True
dict2[False]=False

dict2

{1: True,
 2: 2,
 3: 3.5,
 'Tuple': (1, 2, True, 3, 'False'),
 'List': [1, 2, 4.5, 'List1', 'List2'],
 2.5: 2.5,
 False: False}

Here, you can see that the `True` boolean is not in the keys, but its value has replaced the value of the index 1. This is because True is considered as 1 here. Similarly, if 0 index was present, we won't see the `False` index.

##### 2. Adding a new Element

To add a new element in the dictionary, simply use the key:value pair in an assignment statement associated with the identifier, and the pair will be added. An example to demonstrate this is -

In [96]:
dict1

{1: 'String',
 2: 'Two',
 3: 3.5,
 'Tuple': (1, 2, True, 3, False),
 'List': [1, 2, 'Four Point Five', 'List1', 'List2', False],
 'Set': {1, 2, 3, 4, 5, 6}}

In [98]:
dict1['String']='Actual String'
dict1

{1: 'String',
 2: 'Two',
 3: 3.5,
 'Tuple': (1, 2, True, 3, False),
 'List': [1, 2, 'Four Point Five', 'List1', 'List2', False],
 'Set': {1, 2, 3, 4, 5, 6},
 'String': 'Actual String'}

##### 3. Deleting an Element

To delete an element, we use the `del` keyword. Some examples are given below:

In [108]:
dict2={1:'String',2:2,3:3.5,'Tuple':(1,2,True,3,'False'),'List':[1,2,4.5,'List1','List2',False],'Set':{1,2,4,5,2,5,6,4,3,1,6}}
dict2

{1: 'String',
 2: 2,
 3: 3.5,
 'Tuple': (1, 2, True, 3, 'False'),
 'List': [1, 2, 4.5, 'List1', 'List2', False],
 'Set': {1, 2, 3, 4, 5, 6}}

In [110]:
del dict2['Set']

In [111]:
dict2

{1: 'String',
 2: 2,
 3: 3.5,
 'Tuple': (1, 2, True, 3, 'False'),
 'List': [1, 2, 4.5, 'List1', 'List2', False]}

Hence, the whole key value pair is deleted. You can also delete a specific element inside a data structure that is nested within a dictionary:

In [112]:
del dict2['List'][-1]
dict2

{1: 'String',
 2: 2,
 3: 3.5,
 'Tuple': (1, 2, True, 3, 'False'),
 'List': [1, 2, 4.5, 'List1', 'List2']}

This is how the `del` keyword works for dictionaries.

##### 4. Sorting a Dictionary

To sort a dictionary, we will use the `sorted()` function. Remember that we can use the `sort()` method for sorting lists, if we are selecting a list element from the dictionary.

In [114]:
dict2

{1: 'String',
 2: 2,
 3: 3.5,
 'Tuple': (1, 2, True, 3, 'False'),
 'List': [1, 2, 4.5, 'List1', 'List2']}

Before sorting, remember that the `sorted()` function only supports sorting with similar data types. Hence, we need to select the indexes with same data types.

In [123]:
dict3={1:True,2:2,3:3.5,2.5:'Two point five',False:False}
sorted(dict3)

[False, 1, 2, 2.5, 3]

As you can see, it has taken the value of False as 0 and then sorted the entire index. It has returned a list, as expected.

#### Methods in Dictionaries

There are 3 basic methods in Dictionaries, that would help gain more information on the dictionary. These methods are - 

- `keys()`: This method returns a list of all the keys inside a dictionary.
- `values()`: This method returns a list of all the values inside a dictionary.
- `update()`: This method is used to update the value of any key. 

Let us see them in action.

In [147]:
dict3

{1: True, 2: 2, 3: 3.5, 2.5: 'Two point five', False: False}

In [153]:
dict3.keys(),dict3.values()

(dict_keys([1, 2, 3, 2.5, False]),
 dict_values([True, 2, 3.5, 'Two point five', False]))

In [154]:
dict3.update({2.5:2.5})
dict3

{1: True, 2: 2, 3: 3.5, 2.5: 2.5, False: False}

If you try to update a key that does not exist, then it will be added to the dictionary. An example illustrating this -

In [155]:
dict3.update({4:4})
dict3

{1: True, 2: 2, 3: 3.5, 2.5: 2.5, False: False, 4: 4}

#### Typecasting in Dictionaries

Typecasting from dictionaries to other data structures is simple, actually. The functions of `str()`, `list()`, `tuple()` and `set()` would work very simply. But, they would by default return the __object(s) of indexes__, not values. 

To get the object(s) of values, we need to use the __method `values()`__ inside these typecasting functions.

In [135]:
dict3

{1: True, 2: 2, 3: 3.5, 2.5: 'Two point five', False: False}

In [130]:
list(dict3)+list(dict3.values())

[1, 2, 3, 2.5, False, True, 2, 3.5, 'Two point five', False]

In [129]:
tuple(dict3.values())

(True, 2, 3.5, 'Two point five', False)

In [131]:
str(dict3)

"{1: True, 2: 2, 3: 3.5, 2.5: 'Two point five', False: False}"

In [167]:
float(str(dict3))

ValueError: could not convert string to float: '{1: True, 2: 2, 3: 3.5, 2.5: 2.5, False: False, 4: 4}'

Hence, you won't be able to typecast a dictionary into integer or float.