## Defining a function to take input list

In [254]:
def input_list(n):
    i=1;
    n_l=[];
    print()
    while i<=n:
        ele=int(input('enter the element {}:'.format(i)))
        n_l+=[ele];
        i+=1;
    return n_l;

### Smallest Element and Largest Element

In [56]:
min_pos,max_pos=[],[];
n=int(input('enter number of elements:'))
n_l=input_list(n)

for i in range(len(n_l)):
    if n_l[i]==sorted(n_l)[0]: min_pos+=[i+1];
    if n_l[i]==sorted(n_l)[-1]: max_pos+=[i+1];

print()
print('smallest element:',sorted(n_l)[0],'\t position:',min_pos)
print('largest element:',sorted(n_l)[-1],'\t position:',max_pos)

enter number of elements: 5

enter the element 1: 1
enter the element 2: 5
enter the element 3: 2
enter the element 4: 5
enter the element 5: 1

smallest element: 1 	 position: [1, 5]
largest element: 5 	 position: [2, 4]

__Using the `min()` and `max()`function__

In [57]:
min_pos=[i+1 for i in range(len(n_l)) if n_l[i]==min(n_l)];
max_pos=[i+1 for i in range(len(n_l)) if n_l[i]==max(n_l)];

print('smallest element:',min(n_l),'\t positions:',min_pos)
print('largest element:',max(n_l),'\t positions:',max_pos)

smallest element: 1 	 positions: [1, 5]
largest element: 5 	 positions: [2, 4]

### Above Average

In [50]:
n=int(input('enter number of elements:'))
n_l=input_list(n)

from functools import reduce
    
average=int(reduce(lambda x,y: x+y,n_l)/len(n_l)) if reduce(lambda x,y: x+y,n_l)%len(n_l)==0 else reduce(
                                                                                lambda x,y: x+y,n_l)/len(n_l)
big=[i for i in n_l if i>average]

print()
print('The list of elements greater than the average {} is: {}'.format(average,big))

enter number of elements: 5

enter the element 1: 2
enter the element 2: 4
enter the element 3: 8
enter the element 4: 5
enter the element 5: 9

The list of elements greater than the average 5.6 is: [8, 9]

__Using the `sum()` and `len()` functions__

In [59]:
average=int(sum(n_l)/len(n_l)) if sum(n_l)%len(n_l)==0 else sum(n_l)/len(n_l)
big=[i for i in n_l if i > average]

print('The list of elements greater than the average {} is: {}'.format(average,big))

The list of elements greater than the average 5.6 is: [8, 9]

<h3> N<sup>th</sup> Maximum and N<sup>th</sup> Minimum in a List</h3>

In [255]:
n=int(input('enter number of elements:'))
n_l=input_list(n)
print()

p=int(input('enter the nth position:'))
print()

forward,reverse=sorted(set(n_l)),sorted(set(n_l))[-1::-1]

# finding nth minimum and maximum
min_pos,max_pos=[],[]

for i in range(len(n_l)):
    if n_l[i]==forward[p-1]: min_pos+=[i+1]
    if n_l[i]==reverse[p-1]: max_pos+=[i+1]

print('The {}th smallest element in the list is {} at the position {}'.format(p,forward[p-1],min_pos))
print('The {}th largest element in the list is {} at the position {}'.format(p,reverse[p-1],max_pos))

enter number of elements: 10

enter the element 1: 2
enter the element 2: 5
enter the element 3: 4
enter the element 4: 2
enter the element 5: 9
enter the element 6: 6
enter the element 7: 4
enter the element 8: 5
enter the element 9: 1
enter the element 10: 4

enter the nth position: 4

The 4th smallest element in the list is 5 at the position [2, 8]
The 4th largest element in the list is 4 at the position [3, 7, 10]

### Recruitment

In [53]:
team=[10,20,30,40,50]
applicant=[30,60,80,40]

[team.append(i) for i in applicant if sum(team+[i])/len(team+[i]) > sum(team)/len(team)]
print('The new team is: ',team)

The new team is:  [10, 20, 30, 40, 50, 60, 80]

In [54]:
team=[45,65,34,56,82,53,46,85,48]
applicant=[65,34,64,89,53,24,34,56,76,43,16,87,45,97,53,69,74,26,76,45,32,33]

[team.append(i) for i in applicant if sum(team+[i])/len(team+[i]) > sum(team)/len(team)]
print('The new team is: ',team)

The new team is:  [45, 65, 34, 56, 82, 53, 46, 85, 48, 65, 64, 89, 76, 87, 97, 69, 74, 76]

### Calendar

In [93]:
events=[[29,31],[23,26],[24,25]]
date=int(input('enter the wedding date:'))

clash=[[i,j] for i,j in events if date<=j and date>=i]

print()
print('No scheduled events') if len(clash)==0 else print('Date {} is clashing with {} events: {}'
                                                         .format(date,len(clash),clash))

enter the wedding date: 24

Date 24 is clashing with 2 events: [[23, 26], [24, 25]]

### Fenced Matrix

In [15]:
rows=int(input('enter the number of rows:'))
cols=int(input('enter the number of columns:'))
print()

l_new=[]
for i in range(1,rows+1):
    l=[]
    for j in range(1,cols+1):
        l+=[0 if i!=1 and j!=1 and i!=rows and j!=cols else 1]
    l_new+=[l]
    print(l)

enter the number of rows: 4
enter the number of columns: 5

[1, 1, 1, 1, 1]
[1, 0, 0, 0, 1]
[1, 0, 0, 0, 1]
[1, 1, 1, 1, 1]

### Pascal's Triangle

In [23]:
n=int(input('enter nth row:'))

def fact(n):
    from functools import reduce
    n_list=[i for i in range(1,n+1)] if n>=0 else [i for i in range(n,0)]
    fact=reduce(lambda x,y: x*y,n_list) if n!=0 else 1
    
    return fact;

for i in range(n):
    pascal=[]
    for j in range(i+1):
        pascal+=[fact(i)//((fact(j)*fact(i-j)))]
        
print('\n',pascal)
print('\nPrinting triangle now.....')
print()
for i in range(n):
    for j in range(n-i):
        print(end=" ")
    for k in range(i+1):
        print(fact(i)//((fact(k)*fact(i-k))),end=' ')
    print()

enter nth row: 8

 [1, 7, 21, 35, 35, 21, 7, 1]

Printing triangle now.....

        1
       1 1
      1 2 1
     1 3 3 1
    1 4 6 4 1
   1 5 10 10 5 1
  1 6 15 20 15 6 1
 1 7 21 35 35 21 7 1