## String Operations in Python

A string is like a set of characters, in a given order. Hence, we can move to any character we want to, by navigating inside the string, and manipulating it. We use the String Functions for that.

<p style="font-weight:bold; size:130%"> The String <code> len() </code> Function </p>

<p> This function is used to calculate the number of characters in a string. It has the following syntax : </p>
<code> len(string); </code>

Let us see an example of this function.

In [10]:
x='Introduction to Python Programming';
print('Length is: ',len(x));

Length is:  34

### String Indexing

Indexing is how string stores characters. Each character is given an index, in the same sequence that the string has them arranged, when the variable was declared. 

When the string is shown in the output, the indexes are sorted, and the string gets the output in the same sequence. We have 2 ways to do indexing:

__Forward Indexing__

This method starts indexing from the first character, and the __index starts at 0__. Hence, if we have a string – <br>
<code>Str= ‘Yash Jain’</code><br>
Then the indexing will be like this:

<table style="text-align:center">
<tr>
    <th> Index </th>
    <td> 0 </td>
    <td> 1 </td>
    <td> 2 </td>
    <td> 3 </td>
    <td> 4 </td>
    <td> 5 </td>
    <td> 6 </td>
    <td> 7 </td>
    <td> 8 </td>
</tr>
<tr>
    <th> Char </th>
    <td> 'Y' </td>
    <td> 'a' </td>
    <td> 's' </td>
    <td> 'h' </td>
    <td></td>
    <td> 'J' </td>
    <td> 'a' </td>
    <td> 'i' </td>
    <td> 'n' </td>
</tr>
</table>

To go to a specific character in the string, we use square brackets [ ] after the variable name, and in the square brackets, we write the index number. Let us use forward indexing now.

In [16]:
x='Yash Jain';
x

'Yash Jain'

In [26]:
x[4], x[7], x[0]

(' ', 'i', 'Y')

__Reverse Indexing__

Reverse Indexing is when we start indexing from the last element. __The indexing starts from -1__.The syntax remains the same for reverse indexing. Hence, in the same example, we have the reverse-indexing as:

<table style="text-align:center">
<tr>
    <th> Index </th>
    <td> -9 </td>
    <td> -8 </td>
    <td> -7 </td>
    <td> -6 </td>
    <td> -5 </td>
    <td> -4 </td>
    <td> -3 </td>
    <td> -2 </td>
    <td> -1 </td>
</tr>
<tr>
    <th> Char </th>
    <td> 'Y' </td>
    <td> 'a' </td>
    <td> 's' </td>
    <td> 'h' </td>
    <td></td>
    <td> 'J' </td>
    <td> 'a' </td>
    <td> 'i' </td>
    <td> 'n' </td>
</tr>
</table>

When you use a negative value inside the square brackets, python will automatically start negative indexing. Let us now look at an example.

In [28]:
y='Negative Indexing';
len(y)

17

In [35]:
y

'Negative Indexing'

In [34]:
y[-5],y[-13],y[-10],y[-8]

('e', 't', 'e', 'I')

### String Immutability

It is the property of the string that __does not allow__ it to change the __value of any character__ in the string. You can change the whole string by assigning it to some other string value, but you cannot change any character value.

For eg.

In [47]:
Str='Python';
Str

'Python'

In [42]:
Str[2]

't'

Now, let us try assigning a value to the string's character.

In [43]:
Str[2]='j'

TypeError: 'str' object does not support item assignment

Hence, it is not allowed. Changing the whole string, however, as we have seen before, is very much allowed. It is illustrated in the example below -

In [44]:
Str='Pyjon';
Str

'Pyjon'

This example illustrates __String Immutability__.

### String Concatenation

This property of the string variables joins two more strings into a new string. It can be assigned to a variable, or it can be directly shown in the output using the `print()` function.

For eg.

In [54]:
str1= 'Welcome';
str2= 'Python';
print(str1)
print(str2)

Welcome
Python

__Method 1 - Using a variable__

In [58]:
str= str1 + ' to ' + str2;
print(str);

Welcome to Python

__Method 2 - Direct Output using <code> print()</code> function__

In [60]:
print(str1 + ' to ' + str2);

Welcome to Python

#### Concatenating string and numeric values

Since we cannot add numeric values with strings unless the string has only numbers, let us add them using the <code> str() </code> function. Some examples are given below:

In [8]:
print("The temperature today is "+str(45)+" degrees.");
print("Ever since he came back from injury, his average has dropped from "+str(59.3)+" to "+str(48.6)+".");

The temperature today is 45 degrees.
Ever since he came back from injury, his average has dropped from 59.3 to 48.6.

### String Slicing

This is an operation to extract a given part of a string. It can be used to take out a part of the string, and store it in some variable, or to create a new string, using a part of this string. It is used with the following syntax – 

`Identifier[start : end : step];`

<ul style="text-align:justify">
    <li><u style="font-style:italic">Start</u>: The first parameter inside the square brackets is start, which lets us define the index from which the slicing should start.</li>
    <li><u style="font-size:italic">End</u>: The next parameter inside the square brackets is end, which lets us define the index at which slicing should end. </li>
    <li><u style="font-style:italic">Step</u>: The last parameter is the step, which defines the jump between characters while navigating the element. The higher the value, the more characters it will jump in one go. Eg. If step is 2, then every 2<sup>nd</sup> character will be displayed; if step is 3, then every 3<sup>rd</sup> character will be displayed, and so on. </li>
</ul>

Let us see this with an example here.

In [10]:
wc2011="Dhoni Finishes Off in Style !";
len(wc2011)

29

__Using Forward Indexing and Reverse Indexing__

In [15]:
wc2011[:5],wc2011[-7:]

('Dhoni', 'Style !')

In [17]:
wc2011[6::2],wc2011[:-11:4]

('Fnse f nSye!', 'Dinef')

In [20]:
wc2011[5:28:2],wc2011[-23:-4:3]

(' iihsOfi tl ', 'FieO  y')

### String Membership

The String Memberships are managed using the membership operators <code>IN</code> and <code>NOT IN</code>, that navigates through a string to see if the asked value is there in the string or not. 

It will always return a boolean value <code>TRUE</code> or <code>FALSE</code>, unless typecasting is used. These operations are case sensitive, and they will match for the exact value. 

Let us now look at an example.

In [21]:
Str= 'Indian Cricket Team';
Str, len(Str)

('Indian Cricket Team', 19)

In [22]:
print('India' in Str); 
print('Delhi' in Str); 
 
print('Delhi' not in Str); 
print('India' not in Str); 
print('INDIA' not in Str);

True
False
True
False
True

Due to the case sensitivity, even though the string contains the word <i>India</i>, it showed the <i> NOT IN </i> membership as <i>TRUE</i>.

### String Repetition

Before, we learnt about Arithmetic Operators, where we saw that multiplication of an integer with a string will repeat it that many times. 

This is String Repetition. Let us see a very quick example of this:

In [24]:
print('Ha '*4+'!');

Ha Ha Ha Ha !

Even if we add the numeric value before the asterisk(*), and string after it, the output would be the same. This is due to the precedence of operators, and since addition is the only operation allowed with strings.

Hence, the following code would also yield the same result :

In [25]:
print(4*'Ha '+'!');

Ha Ha Ha Ha !

See ? Exactly the same. This is the repetition of Strings.