## Arithmetic Operations in Python

### Integers

#### 1. Integer with other Integer

Let us see all the arithmetic operations between two integers

In [62]:
x=3;
y=4;

print('Addition: ',x+y,type(x+y));
print('Subtraction: ',x-y,type(x-y));
print('Multiplication: ',x*y,type(x*y));
print('Division: ',x/y,type(x/y));
print('Floor Division: ',x//y,type(x//y));
print('Modulus: ',x%y,type(x%y));
print('Exponential: ',x**y,type(x**y));

Addition:  7 <class 'int'>
Subtraction:  -1 <class 'int'>
Multiplication:  12 <class 'int'>
Division:  0.75 <class 'float'>
Floor Division:  0 <class 'int'>
Modulus:  3 <class 'int'>
Exponential:  81 <class 'int'>

#### 2. Integer with Float

Now, we use one integer and one float

In [63]:
x=3.6;
y=5;

print('Addition: ',x+y,type(x+y));
print('Subtraction: ',x-y,type(x-y));
print('Multiplication: ',x*y,type(x*y));
print('Division: ',x/y,type(x/y));
print('Floor Division: ',x//y,type(x//y));
print('Modulus: ',x%y,type(x%y));
print('Exponential: ',x**y,type(x**y));

Addition:  8.6 <class 'float'>
Subtraction:  -1.4 <class 'float'>
Multiplication:  18.0 <class 'float'>
Division:  0.72 <class 'float'>
Floor Division:  0.0 <class 'float'>
Modulus:  3.6 <class 'float'>
Exponential:  604.6617600000001 <class 'float'>

#### 3. Integer with Boolean

Now, we use integer and one boolean

In [64]:
x=True;
y=5;

print('Addition: ',x+y,type(x+y));
print('Subtraction: ',x-y,type(x-y));
print('Multiplication: ',x*y,type(x*y));
print('Division: ',x/y,type(x/y));
print('Floor Division: ',x//y,type(x//y));
print('Modulus: ',x%y,type(x%y));
print('Exponential: ',x**y,type(x**y));

Addition:  6 <class 'int'>
Subtraction:  -4 <class 'int'>
Multiplication:  5 <class 'int'>
Division:  0.2 <class 'float'>
Floor Division:  0 <class 'int'>
Modulus:  1 <class 'int'>
Exponential:  1 <class 'int'>

Hence, we can see that here, the boolean variable is taking the value 1 (for True), when it performs arithmetic operations with integers.

#### 4. Integer with String

Now, we use one integer, and one string

In [73]:
x='Yes';
y=5;

print('Addition: ',x+y,type(x+y));
print('Subtraction: ',x-y,type(x-y));
print('Division: ',x/y,type(x/y));
print('Exponential: ',x**y,type(x**y));
print('Floor Division: ',x//y,type(x//y));
print('Modulus: ',x%y,type(x%y));

TypeError: can only concatenate str (not "int") to str

In [74]:
print('Multiplication: ',x*y,type(x*y));

Multiplication:  YesYesYesYesYes <class 'str'>

It is clearly visible that integer and string cannot be operated, unless they are being multiplied.

### Floats

#### 1. Float with Float

Now, let us examine operations between 2 floats

In [66]:
x=3.4;
y=4.3;

print('Addition: ',x+y,type(x+y));
print('Subtraction: ',x-y,type(x-y));
print('Multiplication: ',x*y,type(x*y));
print('Division: ',x/y,type(x/y));
print('Floor Division: ',x//y,type(x//y));
print('Modulus: ',x%y,type(x%y));
print('Exponential: ',x**y,type(x**y));

Addition:  7.699999999999999 <class 'float'>
Subtraction:  -0.8999999999999999 <class 'float'>
Multiplication:  14.62 <class 'float'>
Division:  0.7906976744186046 <class 'float'>
Floor Division:  0.0 <class 'float'>
Modulus:  3.4 <class 'float'>
Exponential:  192.9120442926277 <class 'float'>

#### 2. Float with Boolean

Now, let us examine float with boolean

In [67]:
x=True;
y=4.5;

print('Addition: ',x+y,type(x+y));
print('Subtraction: ',x-y,type(x-y));
print('Multiplication: ',x*y,type(x*y));
print('Division: ',x/y,type(x/y));
print('Floor Division: ',x//y,type(x//y));
print('Modulus: ',x%y,type(x%y));
print('Exponential: ',x**y,type(x**y));

Addition:  5.5 <class 'float'>
Subtraction:  -3.5 <class 'float'>
Multiplication:  4.5 <class 'float'>
Division:  0.2222222222222222 <class 'float'>
Floor Division:  0.0 <class 'float'>
Modulus:  1.0 <class 'float'>
Exponential:  1.0 <class 'float'>

Here also, the boolean variable is taking the value 1, while performing in arithmetic operations.

#### 3. Float with String

Now, how about one float and one string ?

In [68]:
x=4.5;
y='Yes';

print('Addition: ',x+y,type(x+y));
print('Subtraction: ',x-y,type(x-y));
print('Multiplication: ',x*y,type(x*y));
print('Division: ',x/y,type(x/y));
print('Floor Division: ',x//y,type(x//y));
print('Modulus: ',x%y,type(x%y));
print('Exponential: ',x**y,type(x**y));

TypeError: unsupported operand type(s) for +: 'float' and 'str'

Clearly, string is not compatible with either float or int.

### Strings

#### 1. Addition with String

Now, let us see if strings are compatible with other strings as well.

In [78]:
x='Yash ';
y='Jain';

print('Addition: ',x+y,type(x+y));

Addition:  Yash Jain <class 'str'>

In [77]:
print('Subtraction: ',x-y,type(x-y));
print('Multiplication: ',x*y,type(x*y));
print('Division: ',x/y,type(x/y));
print('Floor Division: ',x//y,type(x//y));
print('Modulus: ',x%y,type(x%y));
print('Exponential: ',x**y,type(x**y));

TypeError: unsupported operand type(s) for -: 'str' and 'str'

Hence, we know that strings can be added together, but they cannot perform any other operations. Let us see for strings and booleans.

#### 2. Addition with Booleans

In [83]:
x=True;
y='Yash';

print('Addition: ',x+y,type(x+y));
print('Subtraction: ',x-y,type(x-y));
print('Division: ',x/y,type(x/y));
print('Floor Division: ',x//y,type(x//y));
print('Modulus: ',x%y,type(x%y));
print('Exponential: ',x**y,type(x**y));

TypeError: unsupported operand type(s) for +: 'bool' and 'str'

In [84]:
print('Multiplication: ',x*y,type(x*y));

Multiplication:  Yash <class 'str'>

Hence, strings can only be multiplied by the boolean variables, where also, they are taking the value 1, and repeating the string that number of times.

### Booleans

#### 1. Booleans with Booleans

In [86]:
x=False;
y=True;

print('Addition: ',x+y,type(x+y));
print('Subtraction: ',x-y,type(x-y));
print('Division: ',x/y,type(x/y));
print('Floor Division: ',x//y,type(x//y));
print('Modulus: ',x%y,type(x%y));
print('Exponential: ',x**y,type(x**y));
print('Multiplication: ',x*y,type(x*y));

Addition:  1 <class 'int'>
Subtraction:  -1 <class 'int'>
Division:  0.0 <class 'float'>
Floor Division:  0 <class 'int'>
Modulus:  0 <class 'int'>
Exponential:  0 <class 'int'>
Multiplication:  0 <class 'int'>

Hence, it is clearly visible, that booleans will be treated as integers, when it comes to arithmetic operations, and they won't be able to divide by each other, unless the numerator is O (False).

### Operator Precedence

__In case of multiple operators being used at a same time, we need to remember the following operator precedence:__

<p style="border: 2px solid #000080;
          background-color:azure;
          width:92%;
          font-size:90%;
          text-align:center;
          font-style:normal;
          padding:1%;">
  Brackets ( ) > exponential (∗∗) > floor division (//) > modulus (%) > division (/) > multiplication (*) > addition (+) > subtraction (−)
    </p>

Let us look at some examples of this operator precedence principle -

Statement: `Print(4 % (1 + 9)**2 - 60 // (7 + 2));`

Step 1: Brackets:		 4%10**2 – 60//9<br>
Step 2: Exponential: 	 4%100 – 60//9;<br>
Step 3: Floor Division:	 4%100 – 6;<br>
Step 4: Modulus: 		 4 – 6<br>
Step 5: Subtraction: 	__-2 -> Ans__

Let us now execute the statement:

In [88]:
print(4 % (1 + 9)**2 - 60 // (7 + 2));

-2

See, the answer is <span style="color:green; font-weight:bold"> Correct </span>!